.bannerCaseStudy {
  height: 800px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  &.popupBanner {
    height: 500px;
    border-radius: 10px;
    &::after {
      border-radius: 10px;
    }
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
  h1 {
    position: relative;
    z-index: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -0.1px;
    color: #ffffff;
    text-align: center;
    span {
      color: #9aff35;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerCaseStudy {
    height: 700px;
    h1 {
      font-size: 45px;
      line-height: 55px;
      margin-bottom: 0px;
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerCaseStudy {
    height: 700px;
    h1 {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 0px;
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerCaseStudy {
    height: 700px;
    h1 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 0px;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerCaseStudy {
    height: 600px;
    h1 {
      font-size: 32px;
      line-height: 45px;
      margin-bottom: 0px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .bannerCaseStudy {
    height: 600px;
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 0px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerCaseStudy {
    height: 600px;
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 0px;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerCaseStudy {
    height: 100vh;
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 0px;
    }
  }
}
