.bannerConclusion {
  &.PopupConclusion {
    .customContainer {
      border-radius: 10px;
      &::after {
        border-radius: 10px;
      }
      .contentConclusion {
        border-radius: 10px;
      }
    }
  }
  .customContainer {
    max-width: 1250px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50px;
    padding: 50px;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      border-radius: 50px;
      background: rgba(0, 0, 0, 0.7);
      z-index: 0;
    }
    .contentConclusion {
      background: #7635ff;
      height: 350px;
      position: relative;
      border-radius: 50px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 100px;
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 43px;
        text-align: center;
        letter-spacing: -0.165px;
        color: #ffffff;
        a {
          color: #9aff35;
          transition: 0.3s linear;
          &:hover {
            text-decoration: underline;
            transition: 0.3s linear;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerConclusion {
    .customContainer {
      max-width: 1250px;
      border-radius: 45px;
      padding: 45px;
      &::after {
        border-radius: 45px;
      }
      .contentConclusion {
        height: 320px;
        border-radius: 45px;
        padding: 0px 80px;
        p {
          font-size: 28px;
          line-height: 38px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerConclusion {
    .customContainer {
      max-width: 1200px;
      border-radius: 40px;
      padding: 40px;
      &::after {
        border-radius: 40px;
      }
      .contentConclusion {
        height: 320px;
        border-radius: 40px;
        padding: 0px 80px;
        p {
          font-size: 26px;
          line-height: 36px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerConclusion {
    .customContainer {
      max-width: 1080px;
      border-radius: 35px;
      padding: 35px;
      &::after {
        border-radius: 35px;
      }
      .contentConclusion {
        height: 300px;
        border-radius: 35px;
        padding: 0px 80px;
        p {
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerConclusion {
    .customContainer {
      max-width: 960px;
      border-radius: 32px;
      padding: 32px;
      &::after {
        border-radius: 32px;
      }
      .contentConclusion {
        height: 280px;
        border-radius: 32px;
        padding: 0px 70px;
        p {
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .bannerConclusion {
    .customContainer {
      max-width: 750px;
      border-radius: 32px;
      padding: 32px;
      &::after {
        border-radius: 32px;
      }
      .contentConclusion {
        height: 280px;
        border-radius: 32px;
        padding: 0px 70px;
        p {
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerConclusion {
    .customContainer {
      max-width: 750px;
      border-radius: 25px;
      padding: 25px;
      &::after {
        border-radius: 25px;
      }
      .contentConclusion {
        height: 280px;
        border-radius: 25px;
        padding: 0px 70px;
        p {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerConclusion {
    .customContainer {
      max-width: 750px;
      border-radius: 20px;
      padding: 20px;
      &::after {
        border-radius: 20px;
      }
      .contentConclusion {
        height: 100%;
        border-radius: 20px;
        padding: 30px 30px;
        p {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
