.bannerDominate {
  border-radius: 100px 100px 0px 0px;
  background: #f2f9ff;
  height: 450px;
  margin-bottom: 50px;
  .customContainer {
    max-width: 1250px;
  }
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.1px;
    color: #000;
    margin-bottom: 10px;
  }
  p {
    color:#73858F;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
    strong {
      color: #9aff35;
      font-size: 20px;
    }
  }
}
