.overViewSection {
  margin-top: -100px;
  border-radius: 100px 100px 0px 0px;
  background: #fff;
  padding: 100px 0px;
  z-index: 2;
  position: relative;
  &.nodata{
padding: 100px 0px 0px;
  }
  .customContainer {
    max-width: 1250px;
  }
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.1px;
    color: #000000;
    margin-bottom: 10px;
  }
  .subheading {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.1px;
    color: #7635ff;
    margin-bottom: 10px;
  }
  p {
    color: #73858f;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
  }
  ul {
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.1px;
      color: #73858f;
      margin-bottom: 10px;
      svg {
        margin-right: 10px;
        width: 14px;
      }
    }
  }
  .overViewImg {
    height: 100%;
    position: relative;
    max-width: 560px;
    margin-left: auto;
    img {
      object-fit: cover;
      border-radius: 30px;
    }
  }
}
