.strategySection {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-top: -100px;
  border-radius: 100px 100px 0px 0px;
  padding: 100px 0px 180px;
  z-index: 2;
  &.PopupStrategy {
    margin-top: 0px;
    border-radius: 10px;
    padding: 50px 0px 30px;
    &.OverlaySec{
      margin-bottom: 20px;
    }
    &::after {
      border-radius: 10px;
    }
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 100px 100px 0px 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  &.OverlaySec {
    margin-top: 0px;
    margin-bottom: -100px;
    &::after {
      display: none;
    }
  }
  &.Normalstyle {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 100px 0px 100px;
    &::after {
      background: rgba(0, 0, 0, 0.3);
      display: block;
    }
  }
  &.bgBlack {
    &::after {
      background: rgba(0, 0, 0, 0.7);
      display: block;
    }
  }
  .customContainer {
    max-width: 1250px;
  }
  h2 {
    position: relative;
    z-index: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.1px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  .strategyContent {
    position: relative;
    z-index: 1;
    .contentPara {
      p {
        color: #fff;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
      }
      ul {
        display: flex;
        li {
          display: flex;
          align-items: flex-start;
          align-content: top;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: -0.1px;
          color: #9aff35;
          margin-bottom: 10px;
          flex: 0 0 calc(100% / 3 - 15px);
          svg {
            margin-right: 10px;
            flex: 0 0 15px;
            margin-top: 5px;
            circle {
              &:first-child {
                fill: #9aff35;
              }
              &:last-child {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .strategySection {
    margin-top: -80px;
    border-radius: 80px 80px 0px 0px;
    padding: 80px 0px 120px;

    &::after {
      border-radius: 80px 80px 0px 0px;
    }
    &.OverlaySec {
      margin-bottom: -80px;
    }
    &.Normalstyle {
      margin-top: 0px;
      margin-bottom: 50px;
      padding: 80px 0px 80px;
    }
    .customContainer {
      max-width: 1250px;
    }
    h2 {
      font-size: 32px;
      line-height: 42px;
    }
    .strategyContent {
      .contentPara {
        p {
          font-size: 16px;
          line-height: 26px;
        }
        ul {
          li {
            font-size: 16px;
            line-height: 26px;
            flex: 0 0 calc(100% / 3 - 14px);
            svg {
              margin-right: 10px;
              flex: 0 0 14px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .strategySection {
    margin-top: -70px;
    border-radius: 70px 70px 0px 0px;
    padding: 70px 0px 90px;

    &::after {
      border-radius: 70px 70px 0px 0px;
    }
    &.OverlaySec {
      margin-bottom: -70px;
    }
    &.Normalstyle {
      margin-top: 0px;
      margin-bottom: 50px;
      padding: 70px 0px 70px;
    }
    .customContainer {
      max-width: 1200px;
    }
    h2 {
      font-size: 32px;
      line-height: 42px;
    }
    .strategyContent {
      .contentPara {
        p {
          font-size: 16px;
          line-height: 26px;
        }
        ul {
          li {
            font-size: 16px;
            line-height: 26px;
            flex: 0 0 calc(100% / 3 - 14px);
            svg {
              margin-right: 10px;
              flex: 0 0 14px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .strategySection {
    margin-top: -60px;
    border-radius: 60px 60px 0px 0px;
    padding: 60px 0px 80px;

    &::after {
      border-radius: 60px 60px 0px 0px;
    }
    &.OverlaySec {
      margin-bottom: -60px;
    }
    &.Normalstyle {
      margin-top: 0px;
      margin-bottom: 50px;
      padding: 60px 0px 60px;
    }
    .customContainer {
      max-width: 1080px;
    }
    h2 {
      font-size: 30px;
      line-height: 40px;
    }
    .strategyContent {
      .contentPara {
        p {
          font-size: 16px;
          line-height: 24px;
        }
        ul {
          li {
            font-size: 16px;
            line-height: 24px;
            flex: 0 0 calc(100% / 3 - 13px);
            svg {
              margin-right: 10px;
              flex: 0 0 13px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .strategySection {
    margin-top: -50px;
    border-radius: 50px 50px 0px 0px;
    padding: 50px 0px 70px;

    &::after {
      border-radius: 50px 50px 0px 0px;
    }
    &.OverlaySec {
      margin-bottom: -50px;
    }
    &.Normalstyle {
      margin-top: 0px;
      margin-bottom: 50px;
      padding: 50px 0px 50px;
    }
    .customContainer {
      max-width: 960px;
    }
    h2 {
      font-size: 30px;
      line-height: 40px;
    }
    .strategyContent {
      .contentPara {
        p {
          font-size: 15px;
          line-height: 23px;
        }
        ul {
          li {
            font-size: 15px;
            line-height: 23px;
            flex: 0 0 calc(100% / 3 - 13px);
            svg {
              margin-right: 10px;
              flex: 0 0 13px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .strategySection {
    margin-top: -40px;
    border-radius: 40px 40px 0px 0px;
    padding: 40px 0px 50px;

    &::after {
      border-radius: 40px 40px 0px 0px;
    }
    &.OverlaySec {
      margin-bottom: -40px;
    }
    &.Normalstyle {
      margin-top: 0px;
      margin-bottom: 40px;
      padding: 40px 0px 40px;
    }
    .customContainer {
      max-width: 750px;
    }
    h2 {
      font-size: 26px;
      line-height: 36px;
    }
    .strategyContent {
      .contentPara {
        p {
          font-size: 14px;
          line-height: 22px;
        }
        ul {
          li {
            font-size: 14px;
            line-height: 22px;
            flex: 0 0 calc(100% / 3 - 13px);
            svg {
              margin-right: 10px;
              flex: 0 0 13px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .strategySection {
    margin-top: -40px;
    border-radius: 40px 40px 0px 0px;
    padding: 40px 0px 50px;

    &::after {
      border-radius: 40px 40px 0px 0px;
    }
    &.OverlaySec {
      margin-bottom: -40px;
    }
    &.Normalstyle {
      margin-top: 0px;
      margin-bottom: 40px;
      padding: 40px 0px 40px;
    }
    .customContainer {
      max-width: 750px;
    }
    h2 {
      font-size: 26px;
      line-height: 36px;
    }
    .strategyContent {
      .contentPara {
        p {
          font-size: 14px;
          line-height: 22px;
        }
        ul {
          flex-wrap: wrap;
          li {
            font-size: 14px;
            line-height: 22px;
            flex: 0 0 calc(100% / 1 - 3px);
            svg {
              margin-right: 10px;
              flex: 0 0 13px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .strategySection {
    margin-top: -30px;
    border-radius: 30px 30px 0px 0px;
    padding: 30px 0px 50px;

    &::after {
      border-radius: 30px 30px 0px 0px;
    }
    &.OverlaySec {
      margin-bottom: -30px;
    }
    &.Normalstyle {
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 30px 0px 30px;
    }
    .customContainer {
      max-width: 750px;
    }
    h2 {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    .strategyContent {
      .contentPara {
        p {
          font-size: 14px;
          line-height: 22px;
        }
        ul {
          flex-wrap: wrap;
          li {
            font-size: 14px;
            line-height: 22px;
            flex: 0 0 calc(100% / 1 - 13px);
            svg {
              margin-right: 10px;
              flex: 0 0 13px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
