.processLpSec {
    background: linear-gradient(180deg, #FFFFFF 0%, #E0F0FF 59%);
    padding-bottom: 50px;

    .titleBox {
        position: relative;
        z-index: 1;
    }

    .itemBox {
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 40px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 10%;
        text-align: center;
        margin-top: 50px;
        position: relative;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;

        span {
            position: absolute;
            left: 50%;
            top: 0px;
            height: 52px;
            width: 240px;
            background: linear-gradient(319.4deg, #9AFF35 13.78%, #FFFFFF 90.15%);
            border: 4px solid #E8F4FF;
            border-radius: 123px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, -50%);
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.204286px;
            color: #000000;
        }

        p {
            font-size: 26px;
            line-height: 40px;
            color: #000000;
            max-width: 80%;
        }

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.blackBg {
        background: transparent;

        .itemBox {
            border: 1px solid rgba(0, 0, 0, .5);
            border-radius: 30px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0px 20px;
            text-align: center;
            margin: 15px auto 0px;
            position: relative;
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            background: #000;
            max-width: 55%;
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                background 0.4s ease-in-out,
                box-shadow 0.3s ease;

            span {
                position: absolute;
                left: 50%;
                top: 0px;
                height: 40px;
                width: 150px;
                background: linear-gradient(319.4deg, #9AFF35 13.78%, #FFFFFF 90.15%);
                border: 2px solid #E8F4FF;
                border-radius: 123px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(-50%, -50%);
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: -0.204286px;
                color: #000000;
            }

            h2 {
                font-size: 25px;
                line-height: 35px;
                color: #fff;
                font-weight: 500;
                margin-bottom: 5px;
            }

            p {
                font-size: 14px;
                line-height: 20px;
                color: #fff;
                margin-bottom: 0px;
            }

            &.visible {
                opacity: 1;
                transform: translateY(0);
            }

            &:hover {
                background: linear-gradient(319.4deg, #9AFF35 13.78%, #FFFFFF 90.15%);
                transform: translateY(-5px);

                span {
                    background: #000;
                    color: #9AFF35;
                }

                h2,
                p {
                    color: #000000;
                }
            }
        }



    }

    &.roundeStyle {
        background: linear-gradient(0deg, #FFFFFF 0%, #E0F0FF 59%);
        margin-top: 50px;
        border-radius: 100px 100px 0px 0px;
    }

    &.roundWhite {
        background: #E0F0FF;
        position: relative;


        &::before {
            content: '';
            background: #fff;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 0;
            border-radius: 100px 100px 0px 0px;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .processLpSec {
        padding-bottom: 40px;

        .itemBox {
            border-radius: 40px;
            height: 380px;
            padding: 0px 10%;
            margin-top: 50px;

            span {
                height: 50px;
                width: 220px;
                border: 4px solid #E8F4FF;
                font-size: 26px;
                line-height: 26px;
            }

            p {
                font-size: 22px;
                line-height: 36px;
            }
        }

        &.blackBg {

            .itemBox {
                border-radius: 30px;
                height: 180px;
                padding: 0px 20px;
                margin: 15px auto 0px;
                max-width: 55%;

                span {
                    height: 35px;
                    width: 120px;
                    font-size: 18px;
                }

                h2 {
                    font-size: 22px;
                    line-height: 32px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }



        }

        &.roundeStyle {
            border-radius: 80px 80px 0px 0px;
        }

        &.roundWhite {
            &::before {
                border-radius: 80px 80px 0px 0px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .processLpSec {
        padding-bottom: 40px;

        .itemBox {
            border-radius: 40px;
            height: 380px;
            padding: 0px 10%;
            margin-top: 50px;

            span {
                height: 45px;
                width: 180px;
                border: 3px solid #E8F4FF;
                font-size: 22px;
                line-height: 22px;
            }

            p {
                font-size: 20px;
                line-height: 32px;
            }
        }

        &.blackBg {

            .itemBox {
                border-radius: 30px;
                height: 180px;
                padding: 0px 20px;
                margin: 15px auto 0px;
                max-width: 60%;

                span {
                    height: 35px;
                    width: 120px;
                    font-size: 18px;
                }

                h2 {
                    font-size: 22px;
                    line-height: 32px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }



        }

        &.roundeStyle {
            border-radius: 70px 70px 0px 0px;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .processLpSec {
        padding-bottom: 30px;

        .itemBox {
            border-radius: 30px;
            height: 300px;
            padding: 0px 10%;
            margin-top: 40px;

            span {
                height: 45px;
                width: 180px;
                border: 3px solid #E8F4FF;
                font-size: 22px;
                line-height: 22px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
                max-width: 90%;
            }
        }

        &.blackBg {
            .itemBox {
                border-radius: 30px;
                height: 180px;
                padding: 0px 20px;
                margin: 15px auto 0px;
                max-width: 70%;

                span {
                    height: 35px;
                    width: 120px;
                    font-size: 18px;
                }

                h2 {
                    font-size: 22px;
                    line-height: 32px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }



        }

        &.roundeStyle {
            border-radius: 60px 60px 0px 0px;
        }

        &.roundWhite {
            &::before {
                border-radius: 60px 60px 0px 0px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .processLpSec {
        padding-bottom: 30px;

        .itemBox {
            border-radius: 30px;
            height: 280px;
            padding: 0px 10%;
            margin-top: 40px;

            span {
                height: 42px;
                width: 150px;
                border: 2px solid #E8F4FF;
                font-size: 20px;
                line-height: 20px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
                max-width: 90%;
            }
        }

        &.blackBg {
            .itemBox {
                border-radius: 30px;
                height: 180px;
                padding: 0px 20px;
                margin: 15px auto 0px;
                max-width: 80%;

                span {
                    height: 35px;
                    width: 120px;
                    font-size: 18px;
                }

                h2 {
                    font-size: 22px;
                    line-height: 32px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }



        }

        &.roundeStyle {
            border-radius: 50px 50px 0px 0px;
        }

        &.roundWhite {
            &::before {
                border-radius: 50px 50px 0px 0px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .processLpSec {
        padding-bottom: 30px;

        .itemBox {
            border-radius: 20px;
            height: 240px;
            padding: 0px 5%;
            margin-top: 40px;

            span {
                height: 40px;
                width: 120px;
                border: 2px solid #E8F4FF;
                font-size: 18px;
                line-height: 18px;
            }

            p {
                font-size: 16px;
                line-height: 26px;
                max-width: 90%;
            }
        }

        &.blackBg {
            .itemBox {
                border-radius: 30px;
                height: 180px;
                padding: 0px 20px;
                margin: 15px auto 0px;
                max-width: 90%;

                span {
                    height: 35px;
                    width: 120px;
                    font-size: 18px;
                }

                h2 {
                    font-size: 20px;
                    line-height: 30px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }



        }

        &.roundeStyle {
            border-radius: 40px 40px 0px 0px;
        }

        &.roundWhite {
            &::before {
                border-radius: 40px 40px 0px 0px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .processLpSec {
        padding-bottom: 30px;

        .itemBox {
            border-radius: 20px;
            height: 240px;
            padding: 0px 5%;
            margin-top: 40px;

            span {
                height: 35px;
                width: 100px;
                border: 2px solid #E8F4FF;
                font-size: 16px;
                line-height: 16px;
            }

            p {
                font-size: 15px;
                line-height: 24px;
                max-width: 90%;
            }
        }

        &.blackBg {
            .itemBox {
                border-radius: 20px;
                height: 180px;
                padding: 0px 20px;
                margin: 15px auto 0px;
                max-width: 100%;

                span {
                    height: 30px;
                    width: 100px;
                    font-size: 16px;
                }

                h2 {
                    font-size: 20px;
                    line-height: 30px;
                }

                p {
                    font-size: 13px;
                    line-height: 18px;
                }
            }



        }

        &.roundeStyle {
            border-radius: 30px 30px 0px 0px;
        }

        &.roundWhite {
            &::before {
                border-radius: 30px 30px 0px 0px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .processLpSec {
        padding-bottom: 30px;

        .itemBox {
            border-radius: 20px;
            height: auto;
            padding: 40px 20px 20px;
            margin-top: 40px;

            span {
                height: 35px;
                width: 70px;
                border: 2px solid #E8F4FF;
                font-size: 16px;
                line-height: 16px;
            }

            h2 {
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                max-width: 100%;
            }
        }

        &.blackBg {
            .itemBox {
                border-radius: 20px;
                height: 180px;
                padding: 0px 20px;
                margin: 15px auto 0px;
                max-width: 100%;

                span {
                    height: 30px;
                    width: 100px;
                    font-size: 16px;
                }

                h2 {
                    font-size: 20px;
                    line-height: 30px;
                }

                p {
                    font-size: 13px;
                    line-height: 18px;
                }
            }



        }

        &.roundeStyle {
            border-radius: 20px 20px 0px 0px;
        }

        &.roundWhite {
            &::before {
                border-radius: 20px 20px 0px 0px;
            }
        }
    }
}