.talkLpSec {
    .BgImage {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 40px;
        border-radius: 40px;
        height: 610px;

        p {
            color: #000
        }
    }

    .contactFromLp {
        background: #000;
        border-radius: 40px;
        padding: 50px 40px;

        h3 {
            color: #fff;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .talkLpSec {
        .BgImage {
            padding: 50px 40px;
            border-radius: 40px;
            height: 530px;

        }

        .contactFromLp {
            border-radius: 40px;
            padding: 50px 40px;
            height: 530px;
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .talkLpSec {
        .BgImage {
            padding: 40px 30px;
            border-radius: 25px;
            height: 500px;

        }

        .contactFromLp {
            border-radius: 25px;
            padding: 40px 30px;
            height: 500px;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .talkLpSec {
        .BgImage {
            padding: 30px 30px;
            border-radius: 25px;
            height: 450px;

        }

        .contactFromLp {
            border-radius: 25px;
            padding: 30px 30px;
            height: 450px;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .talkLpSec {
        .BgImage {
            padding: 25px 25px;
            border-radius: 25px;
            height: 420px;

        }

        .contactFromLp {
            border-radius: 25px;
            padding: 25px 25px;
            height: 420px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .talkLpSec {
        .BgImage {
            padding: 20px;
            border-radius: 15px;
            height: 380px;

        }

        .contactFromLp {
            border-radius: 15px;
            padding: 20px;
            height: 380px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .talkLpSec {
        .BgImage {
            padding: 20px;
            border-radius: 15px;
            height: auto;
            margin-bottom: 20px;

        }

        .contactFromLp {
            border-radius: 15px;
            padding: 20px;
            height: auto;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .talkLpSec {
        .BgImage {
            padding: 20px;
            border-radius: 15px;
            height: auto;
            margin-bottom: 20px;

        }

        .contactFromLp {
            border-radius: 15px;
            padding: 20px;
            height: auto;
        }
    }
}