.abtSection {
  p {
    a {
      color: #657985;
      &:hover {
        color: #7635ff;
      }
    }
  }
  .abtCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(180, 192, 211, 0.1);
    border-radius: 23px;
    height: 200px;
    padding: 0px 0px;
    margin-top: 50px;
    width: 104%;
    margin-left: -2%;

    .counterPoints {
      border-right: 1px solid #a4afb7;
      flex: 0 0 25%;
      padding-left: 40px;

      .abtnumbers {
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        line-height: 55px;
        letter-spacing: -0.165px;
        color: #000000;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 50px;
          line-height: 50px;
          letter-spacing: -0.165px;
          color: #7635ff;
        }
      }

      .abttxt {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.165px;
        color: #818c99;
      }

      &:last-child {
        border-right: 0px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .abtSection {
    .abtCounter {
      border-radius: 20px;
      height: 180px;
      margin-top: 35px;

      .counterPoints {
        flex: 0 0 25%;
        padding-left: 30px;

        .abtnumbers {
          font-size: 55px;
          line-height: 55px;

          span {
            font-size: 50px;
            line-height: 40px;
          }
        }

        .abttxt {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .abtSection {
    .abtCounter {
      border-radius: 20px;
      height: 160px;
      margin-top: 35px;

      .counterPoints {
        flex: 0 0 25%;
        padding-left: 30px;

        .abtnumbers {
          font-size: 50px;
          line-height: 50px;

          span {
            font-size: 45px;
            line-height: 40px;
          }
        }

        .abttxt {
          font-size: 19px;
          line-height: 26px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .abtSection {
    .abtCounter {
      border-radius: 20px;
      height: 150px;
      margin-top: 25px;

      .counterPoints {
        flex: 0 0 25%;
        padding-left: 30px;

        .abtnumbers {
          font-size: 50px;
          line-height: 50px;

          span {
            font-size: 45px;
            line-height: 40px;
          }
        }

        .abttxt {
          font-size: 19px;
          line-height: 26px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .abtSection {
    .abtCounter {
      border-radius: 20px;
      height: 140px;
      margin-top: 25px;

      .counterPoints {
        flex: 0 0 25%;
        padding-left: 30px;

        .abtnumbers {
          font-size: 45px;
          line-height: 45px;

          span {
            font-size: 40px;
            line-height: 40px;
          }
        }

        .abttxt {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .abtSection {
    .abtCounter {
      border-radius: 20px;
      height: 100px;
      margin-top: 20px;

      .counterPoints {
        flex: 0 0 25%;
        padding-left: 15px;

        .abtnumbers {
          font-size: 35px;
          line-height: 35px;

          span {
            font-size: 30px;
            line-height: 30px;
          }
        }

        .abttxt {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .abtSection {
    .abtCounter {
      border-radius: 20px;
      height: 100px;
      margin-top: 20px;

      .counterPoints {
        flex: 0 0 25%;
        padding-left: 10px;

        .abtnumbers {
          font-size: 28px;
          line-height: 28px;

          span {
            font-size: 28px;
            line-height: 28px;
          }
        }

        .abttxt {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .abtSection {
    .abtCounter {
      border-radius: 20px;
      height: auto;
      margin-top: -20px;
      flex-wrap: wrap;
      padding: 20px 0px 20px 0px;
      background: transparent;

      .counterPoints {
        flex: 0 0 50%;
        border-right: 3px solid #f9fcff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 90px;
        background: #fff;
        margin-bottom: 3px;
        padding: 10px;

        .abtnumbers {
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 0px;
          justify-content: center;
          width: 100%;

          span {
            font-size: 20px;
            line-height: 20px;
          }
        }

        .abttxt {
          font-size: 13px;
          line-height: 18px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
