.MainBanner {
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .bannerContent {
    position: relative;
    z-index: 2;

    h1 {
      color: #ffffff;
    }

    p {
      color: #ffffff;
      a {
        color: #ffffff;
        &:hover {
          color: #7635ff;
        }
      }
    }
  }

  .bannerVideo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  img {
    object-fit: cover;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .MainBanner {
    height: calc(100vh - 0px);
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .MainBanner {
    height: calc(100vh - 0px);
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .MainBanner {
    height: calc(100vh - 0px);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .MainBanner {
    height: calc(100vh - 80px);
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .MainBanner {
    height: calc(100vh - 70px);
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .MainBanner {
    height: calc(100vh - 70px);
  }
}
