.industriesSection {
    overflow: hidden;

    &.locationSec{
        position: relative;
        background: #f0f0f0;

          &::after{
            content: '';
            background: #fff;
            border-radius: 100px 100px 0px 0px;   
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index:0;
        }
        .ContainerBox{
            position: relative;
            z-index: 1;
        }
    }

    .embla {
        height: 100%;
        margin-top: 30px;

        .embla__viewport {
            overflow: visible;
            height: 100%;
            position: relative;       

            &::before {
                content: '';
                position: absolute;
                width: 300%;
                height: 570px;
                background: #fff;
                display: block;
                left: -301%;
                top: -20px;
                z-index: 3;
            }

            .embla__container {
                display: flex;
                touch-action: pan-y pinch-zoom;
                justify-content: space-between;
                margin-left: calc(15px * -1);

                .embla__slide {
                    flex: 0 0 350px;
                    position: relative;
                    padding-left: 15px;
                    overflow: hidden;
                    height: 520px;

                    .industriesImage {
                        transition: flex 0.5s ease, transform 0.5s ease;
                        height: 520px;
                        width: 100%;
                        position: relative;
                        border-radius: 30px;
                        overflow: hidden;

                        &::after {
                            content: '';
                            background: linear-gradient(180deg, rgba(102, 102, 102, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
                            backdrop-filter: blur(0);
                            border-radius: 26px;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0px;
                            opacity: 1;
                            transition: background 0.5s ease;
                        }

                        img {
                            border-radius: 30px;
                            object-fit: cover;
                            transition: transform 0.5s ease;
                        }
                    }

                    .industriesContent {
                        transform: translateY(-60px);
                        transition: opacity 0.5s ease, transform 0.5s ease;
                        padding: 10px 15px 15px 15px;
                        height: 60px;

                        p {
                            color: #fff;
                            font-size: 16px;
                            line-height: 26px;
                            opacity: 0;
                        }

                        h4 {
                            font-weight: 500;
                            font-size: 32px;
                        }

                        .btnReaMore {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 30px;
                            letter-spacing: -0.165px;
                            color: #9AFF35;
                            text-transform: capitalize;
                            cursor: pointer;
                            margin: 0px;

                            svg {
                                height: 16px;
                                width: auto;
                                margin-right: 10px;

                                path {
                                    stroke: #9AFF35;
                                }
                            }
                        }
                    }


                    &:hover {
                        .industriesImage {
                            &::after {
                                opacity: 1;
                                background: linear-gradient(180deg, rgba(102, 102, 102, 0) -10.76%, rgba(0, 0, 0, 0.8) 59.77%);
                                backdrop-filter: blur(2px);
                                transition: background 0.5s ease;
                            }
                        }



                        .industriesContent {
                            height: auto;
                            transform: translateY(-100%);

                            p {
                                opacity: 1;
                            }
                        }


                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .industriesSection {
        &.locationSec{    
              &::after{
                border-radius: 80px 80px 0px 0px;   
            }
        }
        .embla {
            margin-top: 30px;

            .embla__viewport {
                &::before {
                    height: 570px;
                    top: -20px;
                }

                .embla__container {
                    margin-left: calc(15px * -1);

                    .embla__slide {
                        flex: 0 0 350px;
                        padding-left: 15px;
                        height: 480px;

                        .industriesImage {
                            height: 480px;
                            border-radius: 25px;

                            img {
                                border-radius: 25px;
                            }
                        }

                        .industriesContent {
                            transform: translateY(-55px);
                            padding: 10px 15px 15px 15px;
                            height: 55px;

                            p {
                                font-size: 15px;
                                line-height: 26px;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 28px;
                            }

                            .btnReaMore {
                                font-size: 16px;

                                svg {
                                    height: 16px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .industriesSection {
        &.locationSec{    
            &::after{
              border-radius: 70px 70px 0px 0px;   
          }
      }
        .embla {
            margin-top: 30px;

            .embla__viewport {
                &::before {
                    height: 570px;
                    top: -20px;
                }

                .embla__container {
                    margin-left: calc(15px * -1);

                    .embla__slide {
                        flex: 0 0 350px;
                        padding-left: 15px;
                        height: 450px;

                        .industriesImage {
                            height: 450px;
                            border-radius: 25px;

                            img {
                                border-radius: 25px;
                            }
                        }

                        .industriesContent {
                            transform: translateY(-55px);
                            padding: 10px 15px 15px 15px;
                            height: 55px;

                            p {
                                font-size: 15px;
                                line-height: 26px;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 24px;
                            }

                            .btnReaMore {
                                font-size: 16px;

                                svg {
                                    height: 16px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .industriesSection {
        &.locationSec{    
            &::after{
              border-radius: 60px 60px 0px 0px;   
          }
      }
        .embla {
            margin-top: 20px;

            .embla__viewport {
                &::before {
                    height: 570px;
                    top: -20px;
                    left: -300.5%;
                }

                .embla__container {
                    margin-left: calc(10px * -1);

                    .embla__slide {
                        flex: 0 0 330px;
                        padding-left: 10px;
                        height: 420px;

                        .industriesImage {
                            height: 420px;
                            border-radius: 25px;

                            img {
                                border-radius: 25px;
                            }
                        }

                        .industriesContent {
                            transform: translateY(-50px);
                            padding: 10px 15px 15px 15px;
                            height: 50px;

                            p {
                                font-size: 15px;
                                line-height: 26px;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 20px;
                            }

                            .btnReaMore {
                                font-size: 15px;

                                svg {
                                    height: 14px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .industriesSection {
        &.locationSec{    
            &::after{
              border-radius: 50px 50px 0px 0px;   
          }
      }
        .embla {
            margin-top: 20px;

            .embla__viewport {
                &::before {
                    height: 570px;
                    top: -20px;
                    left: -300.5%;
                }

                .embla__container {
                    margin-left: calc(10px * -1);

                    .embla__slide {
                        flex: 0 0 300px;
                        padding-left: 10px;
                        height: 380px;

                        .industriesImage {
                            height: 380px;
                            border-radius: 20px;

                            img {
                                border-radius: 20px;
                            }
                        }

                        .industriesContent {
                            transform: translateY(-50px);
                            padding: 10px 15px 15px 15px;
                            height: 50px;

                            p {
                                font-size: 13px;
                                line-height: 22px;
                                margin-bottom: 5px;
                            }

                            h4 {
                                font-size: 22px;
                                line-height: 28px;
                                margin-bottom: 10px;
                            }

                            .btnReaMore {
                                font-size: 14px;

                                svg {
                                    height: 13px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .industriesSection {
        &.locationSec{    
            &::after{
              border-radius: 40px 40px 0px 0px;   
          }
      }
        .embla {
            margin-top: 20px;

            .embla__viewport {
                &::before {
                    height: 550px;
                    top: -20px;
                    left: -300.5%;
                }

                .embla__container {
                    margin-left: calc(10px * -1);

                    .embla__slide {
                        flex: 0 0 260px;
                        padding-left: 10px;
                        height: 350px;
                        border-radius: 20px;



                        .industriesImage {
                            height: 350px;
                            border-radius: 20px;

                            &::after {
                                border-radius: 20px;
                            }

                            v img {
                                border-radius: 20px;
                            }
                        }

                        .industriesContent {
                            transform: translateY(-50px);
                            padding: 10px 15px 15px 15px;
                            height: 50px;

                            p {
                                font-size: 13px;
                                line-height: 22px;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 20px;
                            }

                            .btnReaMore {
                                font-size: 14px;

                                svg {
                                    height: 14px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .industriesSection {
        &.locationSec{    
            &::after{
              border-radius: 30px 30px 0px 0px;   
          }
      }
        .embla {
            margin-top: 0px;

            .embla__viewport {
                &::before {
                    height: 570px;
                    top: -20px;
                    left: -300.5%;
                }

                .embla__container {
                    margin-left: calc(10px * -1);

                    .embla__slide {
                        flex: 0 0 240px;
                        padding-left: 10px;
                        height: 320px;



                        .industriesImage {
                            height: 320px;
                            border-radius: 15px;

                            &::after {
                                border-radius: 15px;
                            }

                            img {
                                border-radius: 15px;
                            }
                        }

                        .industriesContent {
                            transform: translateY(-40px);
                            padding: 10px 15px 15px 15px;
                            height: 40px;

                            p {
                                font-size: 12px;
                                line-height: 20px;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 18px;
                                line-height: 26px;
                                margin-bottom: 5px;
                            }

                            .btnReaMore {
                                font-size: 13px;

                                svg {
                                    height: 12px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .industriesSection {
        &.locationSec{    
            &::after{
              border-radius: 20px 20px 0px 0px;   
          }
      }
        .embla {
            margin-top: 0px;

            .embla__viewport {
                &::before {
                    height: 570px;
                    top: -20px;
                    left: -300.5%;
                }

                .embla__container {
                    margin-left: calc(10px * -1);

                    .embla__slide {
                        flex: 0 0 260px;
                        padding-left: 10px;
                        height: 320px;

                        .industriesImage {
                            height: 320px;
                            border-radius: 15px;

                            &::after {
                                border-radius: 15px;
                            }

                            img {
                                border-radius: 15px;
                            }
                        }

                        .industriesContent {
                            transform: translateY(-50px);
                            padding: 10px 10px;
                            height: 50px;

                            p {
                                font-size: 13px;
                                line-height: 22px;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 18px;
                            }

                            .btnReaMore {
                                font-size: 13px;

                                svg {
                                    height: 13px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}