.testimonialsSection {
  overflow: hidden;

  .embla {
    margin-top: 40px;

    .embla__viewport {
      overflow: hidden;

      .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(20px * -1);

        .embla__slide {
          transform: translate3d(0, 0, 0);
          flex: 0 0 60%;
          min-width: 0;
          padding-left: 20px;
          &.blogItem {
            flex: 0 0 85%;
          }
          .testBox {
            background: #ffffff;
            border: 1px solid #c7d3db;
            border-radius: 28px;
            padding: 40px;
            transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;

            .testContent {
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;
              letter-spacing: -0.165px;
              color: #000000;
              margin-bottom: 30px;
              max-height: 300px;
              border-bottom: 1px solid #c7d3db;
              padding-bottom: 30px;
            }

            .infoTest {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .usesInfo {
                text-align: left;

                .namee {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 29px;
                  letter-spacing: -0.165px;
                  color: #000000;
                }

                .job {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 29px;
                  letter-spacing: -0.165px;
                  color: #7635ff;
                }
              }

              .usesIcon {
                svg {
                  height: 40px;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .testimonialsSection {
    .embla {
      margin-top: 35px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            flex: 0 0 60%;
            padding-left: 20px;
            &.blogItem {
              flex: 0 0 100%;
            }
            .testBox {
              padding: 30px;

              .testContent {
                font-size: 18px;
                line-height: 30px;
                max-height: 300px;
                padding-bottom: 25px;
                margin-bottom: 25px;
              }

              .infoTest {
                .usesInfo {
                  .namee {
                    font-size: 18px;
                    line-height: 26px;
                  }

                  .job {
                    font-size: 16px;
                    line-height: 26px;
                  }
                }

                .usesIcon {
                  svg {
                    height: 35px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .testimonialsSection {
    .embla {
      margin-top: 30px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            flex: 0 0 60%;
            padding-left: 20px;
            &.blogItem {
              flex: 0 0 100%;
            }
            .testBox {
              padding: 25px;

              .testContent {
                font-size: 17px;
                line-height: 30px;
                max-height: 300px;
                padding-bottom: 20px;
                margin-bottom: 20px;
              }

              .infoTest {
                .usesInfo {
                  .namee {
                    font-size: 16px;
                    line-height: 24px;
                  }

                  .job {
                    font-size: 14px;
                    line-height: 22px;
                  }
                }

                .usesIcon {
                  svg {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .testimonialsSection {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            flex: 0 0 60%;
            padding-left: 20px;
            &.blogItem {
              flex: 0 0 100%;
            }
            .testBox {
              padding: 25px;

              .testContent {
                font-size: 16px;
                line-height: 28px;
                max-height: 300px;
                padding-bottom: 20px;
                margin-bottom: 20px;
              }

              .infoTest {
                .usesInfo {
                  .namee {
                    font-size: 15px;
                    line-height: 22px;
                  }

                  .job {
                    font-size: 13px;
                    line-height: 22px;
                  }
                }

                .usesIcon {
                  svg {
                    height: 26px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .testimonialsSection {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            flex: 0 0 60%;
            padding-left: 20px;
            &.blogItem {
              flex: 0 0 100%;
            }
            .testBox {
              padding: 20px 25px;

              .testContent {
                font-size: 15px;
                line-height: 27px;
                max-height: 300px;
                padding-bottom: 15px;
                margin-bottom: 15px;
              }

              .infoTest {
                .usesInfo {
                  .namee {
                    font-size: 15px;
                    line-height: 22px;
                  }

                  .job {
                    font-size: 13px;
                    line-height: 22px;
                  }
                }

                .usesIcon {
                  svg {
                    height: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .testimonialsSection {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(15px * -1);

          .embla__slide {
            flex: 0 0 70%;
            padding-left: 15px;
            &.blogItem {
              flex: 0 0 100%;
            }
            .testBox {
              padding: 20px 25px;

              .testContent {
                font-size: 13px;
                line-height: 22px;
                max-height: 300px;
                padding-bottom: 15px;
                margin-bottom: 15px;
              }

              .infoTest {
                .usesInfo {
                  .namee {
                    font-size: 15px;
                    line-height: 22px;
                  }

                  .job {
                    font-size: 13px;
                    line-height: 22px;
                  }
                }

                .usesIcon {
                  svg {
                    height: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonialsSection {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(10px * -1);

          .embla__slide {
            flex: 0 0 70%;
            padding-left: 10px;
            &.blogItem {
              flex: 0 0 100%;
            }
            .testBox {
              padding: 20px;

              .testContent {
                font-size: 13px;
                line-height: 22px;
                max-height: 300px;
                padding-bottom: 15px;
                margin-bottom: 15px;
              }

              .infoTest {
                .usesInfo {
                  .namee {
                    font-size: 14px;
                    line-height: 22px;
                  }

                  .job {
                    font-size: 13px;
                    line-height: 22px;
                  }
                }

                .usesIcon {
                  svg {
                    height: 22px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .testimonialsSection {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(0px * -1);

          .embla__slide {
            flex: 0 0 100%;
            padding-left: 0px;
            &.blogItem {
              flex: 0 0 100%;
            }
            .testBox {
              padding: 20px;
              border-radius: 20px;

              .testContent {
                font-size: 14px;
                line-height: 22px;
                max-height: 300px;
                padding-bottom: 15px;
                margin-bottom: 15px;
              }

              .infoTest {
                .usesInfo {
                  .namee {
                    font-size: 14px;
                    line-height: 22px;
                  }

                  .job {
                    font-size: 13px;
                    line-height: 22px;
                  }
                }

                .usesIcon {
                  svg {
                    height: 22px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
