.whychooseSection {
    .whychooseBox {
        background: #000;
        border-radius: 30px;
        padding: 30px;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            background: linear-gradient(278.21deg, #FFFFFF 5.05%, #9AFF35 104.91%);
            animation: normalBorderRadius 0.5s ease-in-out forwards;
            width: 100px;
            height: 100px;
            display: block;
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 0;
            transition: all 0.5s ease-in-out;
        }

        .whychooseContainer {
            position: relative;
            z-index: 2;
            transform: translateY(0);
            transition: all 0.5s ease-in-out;

            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -0.165px;
                color: #FFFFFF;
                margin-bottom: 20px;
                padding-bottom: 20px;
                position: relative;

                &::before {
                    content: '';
                    background: linear-gradient(278.21deg, #FFFFFF 5.05%, #9AFF35 104.91%);
                    border-radius: 30px;
                    display: block;
                    width: 100px;
                    height: 4px;
                    position: absolute;
                    bottom: 0px;
                }
            }

            .txt {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -0.165px;
                color: #FFFFFF;
                margin-bottom: 50px;
                a{
                    color: #fff;
                    font-weight: 500;
                                   }
            }
        }

        .count {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 32px;
            text-align: right;
            letter-spacing: -0.165px;
            color: #FFFFFF;
            position: absolute;
            bottom: 0px;
            right: 0px;
            background: #000;
            width: 80px;
            height: 80px;
            border-radius: 100% 0px 30px 0px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-right: 18px;
            padding-bottom: 18px;
            z-index: 2;


        }

        &:hover {

            &::after {
                animation: hoverBorderRadius 0.5s ease-in-out forwards;
            }

            .whychooseContainer {
                transform: translateY(20px);
                transition: transform 0.5s ease-in-out;

                .title {
                    color: #000;

                    &::before {
                        content: '';
                        background: linear-gradient(278.21deg, #000 5.05%, #000 104.91%);
                    }
                }

                .txt {
                    color: #000;
                    a{
                    color: #000;
                    &:hover{
                        font-weight: 600;
                    }

                    }
                }
            }
        }

        &.Box1 {
            height: 340px;
        }

        &.Box2 {
            height: 380px;
        }

        &.Box3 {
            height: 420px;
        }

        &.Box4 {
            height: 420px;
        }

        &.Box5 {
            height: 460px;
        }
    }
}

@keyframes hoverBorderRadius {
    0% {
        // width: 100px;
        // height: 100px;
        border-radius: 100% 0px 30px 0px;
    }

    10% {
        width: 10%;
        height: 10%;
        border-radius: 100% 0px 30px 0px;
    }

    20% {
        width: 20%;
        height: 20%;
        border-radius: 100% 0px 30px 0px;
    }

    30% {
        width: 30%;
        height: 30%;
        border-radius: 100% 0px 30px 0px;
    }

    40% {
        width: 40%;
        height: 40%;
        border-radius: 100% 0px 30px 0px;
    }

    50% {
        width: 50%;
        height: 50%;
        border-radius: 100% 0px 30px 0px;
    }

    60% {
        width: 60%;
        height: 60%;
        border-radius: 100% 0px 30px 0px;
    }

    70% {
        width: 70%;
        height: 70%;
        border-radius: 100% 0px 30px 0px;
    }

    80% {
        width: 80%;
        height: 80%;
        border-radius: 100% 0px 30px 0px;
    }

    90% {
        width: 90%;
        height: 90%;
        border-radius: 100% 0px 30px 0px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

@keyframes normalBorderRadius {
    100% {
        // width: 100px;
        // height: 100px;
        border-radius: 100px 0px 30px 0px;
    }

    90% {
        width: 10%;
        height: 10%;
        border-radius: 100% 0px 30px 0px;
    }

    80% {
        width: 20%;
        height: 20%;
        border-radius: 100% 0px 30px 0px;
    }

    70% {
        width: 30%;
        height: 30%;
        border-radius: 100% 0px 30px 0px;
    }

    60% {
        width: 40%;
        height: 40%;
        border-radius: 100% 0px 30px 0px;
    }

    50% {
        width: 50%;
        height: 50%;
        border-radius: 100% 0px 30px 0px;
    }

    40% {
        width: 60%;
        height: 60%;
        border-radius: 100% 0px 30px 0px;
    }

    30% {
        width: 70%;
        height: 70%;
        border-radius: 100% 0px 30px 0px;
    }

    20% {
        width: 80%;
        height: 80%;
        border-radius: 100% 0px 30px 0px;
    }

    10% {
        width: 90%;
        height: 90%;
        border-radius: 100% 0px 30px 0px;
    }

    0% {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .whychooseSection {
        .whychooseBox {
            border-radius: 25px;
            padding: 30px;
            margin-bottom: 25px;

            &::after {
                width: 90px;
                height: 90px;
            }

            .whychooseContainer {

                .title {
                    font-size: 28px;
                    line-height: 36px;
                    margin-bottom: 18px;
                    padding-bottom: 18px;

                    &::before {
                        width: 90px;
                        height: 4px;
                    }
                }

                .txt {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 50px;
                }
            }

            .count {
                font-size: 30px;
                line-height: 30px;
                width: 75px;
                height: 75px;
                padding-right: 13px;
                padding-bottom: 13px;

            }

            &:hover {

                .whychooseContainer {
                    transform: translateY(20px);
                }
            }

            &.Box1 {
                height: 320px;
            }

            &.Box2 {
                height: 360px;
            }

            &.Box3 {
                height: 400px;
            }

            &.Box4 {
                height: 400px;
            }

            &.Box5 {
                height: 430px;
            }
        }
    }

}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .whychooseSection {
        .whychooseBox {
            border-radius: 22px;
            padding: 25px;
            margin-bottom: 20px;

            &::after {
                width: 80px;
                height: 80px;
            }

            .whychooseContainer {

                .title {
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 15px;
                    padding-bottom: 15px;

                    &::before {
                        width: 80px;
                        height: 4px;
                    }
                }

                .txt {
                    font-size: 15px;
                    line-height: 24px;
                    margin-bottom: 45px;
                }
            }

            .count {
                font-size: 25px;
                line-height: 30px;
                width: 68px;
                height: 68px;
                padding-right: 13px;
                padding-bottom: 13px;
                border-radius: 100% 0px 22px 0px;

            }


            &.Box1 {
                height: 320px;
            }

            &.Box2 {
                height: 360px;
            }

            &.Box3 {
                height: 400px;
            }

            &.Box4 {
                height: 370px;
            }

            &.Box5 {
                height: 400px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .whychooseSection {
        .whychooseBox {
            border-radius: 20px;
            padding: 25px;
            margin-bottom: 20px;

            &::after {
                width: 75px;
                height: 75px;
            }

            .whychooseContainer {

                .title {
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 15px;
                    padding-bottom: 15px;

                    &::before {
                        width: 70px;
                        height: 4px;
                    }
                }

                .txt {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 45px;
                }
            }

            .count {
                font-size: 22px;
                line-height: 30px;
                width: 65px;
                height: 65px;
                padding-right: 15px;
                padding-bottom: 10px;
                border-radius: 100% 0px 20px 0px;

            }

            &:hover {
                .whychooseContainer {
                    transform: translateY(30px);
                }
            }

            &.Box1 {
                height: 300px;
            }

            &.Box2 {
                height: 330px;
            }

            &.Box3 {
                height: 360px;
            }

            &.Box4 {
                height: 320px;
            }

            &.Box5 {
                height: 360px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .whychooseSection {
        .whychooseBox {
            border-radius: 20px;
            padding: 25px;
            margin-bottom: 20px;

            &::after {
                width: 75px;
                height: 75px;
            }

            .whychooseContainer {

                .title {
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 15px;
                    padding-bottom: 15px;

                    &::before {
                        width: 70px;
                        height: 4px;
                    }
                }

                .txt {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 45px;
                }
            }

            .count {
                font-size: 22px;
                line-height: 30px;
                width: 65px;
                height: 65px;
                padding-right: 15px;
                padding-bottom: 10px;
                border-radius: 100% 0px 20px 0px;

            }

            &:hover {
                .whychooseContainer {
                    transform: translateY(30px);
                }
            }

            &.Box1 {
                height: 300px;
            }

            &.Box2 {
                height: 330px;
            }

            &.Box3 {
                height: 360px;
            }

            &.Box4 {
                height: 320px;
            }

            &.Box5 {
                height: 380px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .whychooseSection {
        .colChange {
            display: flex;
            gap: 10px;
        }

        .whychooseBox {
            border-radius: 20px;
            padding: 25px;
            margin-bottom: 20px;

            &::after {
                width: 75px;
                height: 75px;
            }

            .whychooseContainer {


                .title {
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 15px;
                    padding-bottom: 15px;

                    &::before {
                        width: 70px;
                        height: 4px;
                    }
                }

                .txt {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 45px;
                }
            }

            .count {
                font-size: 22px;
                line-height: 30px;
                width: 65px;
                height: 65px;
                padding-right: 15px;
                padding-bottom: 10px;
                border-radius: 100% 0px 20px 0px;

            }

            &:hover {
                .whychooseContainer {
                    transform: translateY(20px);
                }
            }

            &.Box1 {
                height: 330px;
            }

            &.Box2 {
                height: 330px;
            }

            &.Box3 {
                height: 260px;
            }

            &.Box4 {
                height: 330px;
            }

            &.Box5 {
                height: 330px;
            }
        }
    }
}


@media only screen and (min-width: 576px) and (max-width:767px) {
    .whychooseSection {
        .colChange {
            display: flex;
            gap: 10px;
        }

        .whychooseBox {
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 20px;

            &::after {
                width: 75px;
                height: 75px;
            }

            .whychooseContainer {


                .title {
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 15px;
                    padding-bottom: 15px;

                    &::before {
                        width: 70px;
                        height: 4px;
                    }
                }

                .txt {
                    font-size: 13px;
                    line-height: 22px;
                    margin-bottom: 45px;
                }
            }

            .count {
                font-size: 22px;
                line-height: 30px;
                width: 65px;
                height: 65px;
                padding-right: 15px;
                padding-bottom: 10px;
                border-radius: 100% 0px 20px 0px;

            }

            &:hover {
                .whychooseContainer {
                    transform: translateY(20px);
                }
            }

            &.Box1 {
                height: 300px;
            }

            &.Box2 {
                height: 300px;
            }

            &.Box3 {
                height: 300px;
            }

            &.Box4 {
                height: 300px;
            }

            &.Box5 {
                height: 300px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .whychooseSection {

        .whychooseBox {
            border-radius: 20px;
            padding: 25px;
            margin-bottom: 20px;

            &::after {
                width: 75px;
                height: 75px;
            }

            .whychooseContainer {


                .title {
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 15px;
                    padding-bottom: 15px;

                    &::before {
                        width: 70px;
                        height: 4px;
                    }
                }

                .txt {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 45px;
                }
            }

            .count {
                font-size: 22px;
                line-height: 30px;
                width: 65px;
                height: 65px;
                padding-right: 15px;
                padding-bottom: 10px;
                border-radius: 100% 0px 20px 0px;

            }

            &:hover {
                .whychooseContainer {
                    transform: translateY(20px);
                }
            }

            &.Box1 {
                height: 300px;
            }

            &.Box2 {
                height: 300px;
            }

            &.Box3 {
                height: 300px;
            }

            &.Box4 {
                height: 300px;
            }

            &.Box5 {
                height: 300px;
            }
        }
    }
}