.casestudyLpSection {
  .casestudyLpBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;

    .casestudyItem {
      flex: 0 0 25%;
      height: 340px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding: 20px;
      transition: all 0.3s ease;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        );
        z-index: 0;
      }

      &:first-child {
        border-radius: 40px 0px 0px 0px;

        &::after {
          border-radius: 40px 0px 0px 0px;
        }
      }

      &:nth-child(4) {
        border-radius: 0px 40px 0px 0px;

        &::after {
          border-radius: 0px 40px 0px 0px;
        }
      }

      &:nth-child(5) {
        border-radius: 0px 0px 0px 40px;

        &::after {
          border-radius: 0px 0px 0px 40px;
        }
      }

      &:last-child {
        border-radius: 0px 0px 40px 0px;

        &::after {
          border-radius: 0px 0px 40px 0px;
        }
      }

      h4 {
        position: relative;
        z-index: 1;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.165px;
        text-transform: uppercase;
        color: #ffffff;
        pointer-events: none;
        transform: translateY(2px);
        transition: all 0.3s ease;
      }

      .casestudyTxt {
        //  opacity: 0;
        pointer-events: none;
        transform: translateY(0px);
        transition: all 0.3s ease;
        z-index: 1;
        position: relative;

        p {
          color: #fff;
          margin-bottom: 0px;
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
        }

        .btnCase {
          margin-top: 10px;
          color: #000;
          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
          background: linear-gradient(130deg, #9aff35 13.78%, #ffffff 90.15%);
          max-width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          border-radius: 100px;
          cursor: pointer;
        }
      }

      &:hover {
        justify-content: flex-end;
        align-items: flex-start;
        h4 {
          pointer-events: auto;
          transform: translateY(-10px);
          opacity: 1;
        }
        .casestudyTxt {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(-10px);
        }
      }
    }
  }
  &.casestudyBlogss {
    .casestudyLpBox {
      .casestudyItem {
        flex: 0 0 50%;
        height: 270px;
        border-radius: 0px;
        &::after {
        border-radius: 0px;
        }
        &:first-child {
          border-radius: 40px 0px 0px 0px;

          &::after {
            border-radius: 40px 0px 0px 0px;
          }
        }

        &:nth-child(2) {
          border-radius: 0px 40px 0px 0px;

          &::after {
            border-radius: 0px 40px 0px 0px;
          }
        }

        &:nth-last-child(2) {
          border-radius: 0px 0px 0px 40px;

          &::after {
            border-radius: 0px 0px 0px 40px;
          }
        }

        &:last-child {
          border-radius: 0px 0px 40px 0px;

          &::after {
            border-radius: 0px 0px 40px 0px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .casestudyLpSection {
    .casestudyLpBox {
      margin-top: 20px;

      .casestudyItem {
        flex: 0 0 25%;
        height: 300px;
        padding: 15px;

        &:first-child {
          border-radius: 35px 0px 0px 0px;

          &::after {
            border-radius: 35px 0px 0px 0px;
          }
        }

        &:nth-child(4) {
          border-radius: 0px 35px 0px 0px;

          &::after {
            border-radius: 0px 35px 0px 0px;
          }
        }

        &:nth-child(5) {
          border-radius: 0px 0px 0px 35px;

          &::after {
            border-radius: 0px 0px 0px 35px;
          }
        }

        &:last-child {
          border-radius: 0px 0px 35px 0px;

          &::after {
            border-radius: 0px 0px 35px 0px;
          }
        }

        h4 {
          font-size: 22px;
          line-height: 22px;
        }

        .casestudyTxt {
          p {
            font-size: 15px;
            line-height: 20px;
          }

          .btnCase {
            margin-top: 10px;
            max-width: 120px;
            height: 38px;
          }
        }
      }
    }
    &.casestudyBlogss {
      .casestudyLpBox {
        .casestudyItem {
          flex: 0 0 50%;
          height: 270px;
          border-radius: 0px;
          &::after {
          border-radius: 0px;
          }
          &:first-child {
            border-radius: 35px 0px 0px 0px;
  
            &::after {
              border-radius: 35px 0px 0px 0px;
            }
          }
  
          &:nth-child(2) {
            border-radius: 0px 35px 0px 0px;
  
            &::after {
              border-radius: 0px 35px 0px 0px;
            }
          }
  
          &:nth-last-child(2) {
            border-radius: 0px 0px 0px 35px;
  
            &::after {
              border-radius: 0px 0px 0px 35px;
            }
          }
  
          &:last-child {
            border-radius: 0px 0px 35px 0px;
  
            &::after {
              border-radius: 0px 0px 35px 0px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .casestudyLpSection {
    .casestudyLpBox {
      margin-top: 20px;

      .casestudyItem {
        flex: 0 0 25%;
        height: 280px;
        padding: 15px;

        &:first-child {
          border-radius: 30px 0px 0px 0px;

          &::after {
            border-radius: 30px 0px 0px 0px;
          }
        }

        &:nth-child(4) {
          border-radius: 0px 30px 0px 0px;

          &::after {
            border-radius: 0px 30px 0px 0px;
          }
        }

        &:nth-child(5) {
          border-radius: 0px 0px 0px 30px;

          &::after {
            border-radius: 0px 0px 0px 30px;
          }
        }

        &:last-child {
          border-radius: 0px 0px 30px 0px;

          &::after {
            border-radius: 0px 0px 30px 0px;
          }
        }

        h4 {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 5px;
        }

        .casestudyTxt {
          p {
            font-size: 14px;
            line-height: 20px;
          }

          .btnCase {
            margin-top: 10px;
            max-width: 120px;
            height: 35px;
          }
        }
      }
    }
    &.casestudyBlogss {
      .casestudyLpBox {
        .casestudyItem {
          flex: 0 0 50%;
          height: 270px;
          border-radius: 0px;
          padding: 25px;
          &::after {
          border-radius: 0px;
          }
          &:first-child {
            border-radius: 30px 0px 0px 0px;
  
            &::after {
              border-radius: 30px 0px 0px 0px;
            }
          }
  
          &:nth-child(2) {
            border-radius: 0px 30px 0px 0px;
  
            &::after {
              border-radius: 0px 30px 0px 0px;
            }
          }
  
          &:nth-last-child(2) {
            border-radius: 0px 0px 0px 30px;
  
            &::after {
              border-radius: 0px 0px 0px 30px;
            }
          }
  
          &:last-child {
            border-radius: 0px 0px 30px 0px;
  
            &::after {
              border-radius: 0px 0px 30px 0px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .casestudyLpSection {
    .casestudyLpBox {
      margin-top: 20px;

      .casestudyItem {
        flex: 0 0 25%;
        height: 250px;
        padding: 15px;

        &:first-child {
          border-radius: 25px 0px 0px 0px;

          &::after {
            border-radius: 25px 0px 0px 0px;
          }
        }

        &:nth-child(4) {
          border-radius: 0px 25px 0px 0px;

          &::after {
            border-radius: 0px 25px 0px 0px;
          }
        }

        &:nth-child(5) {
          border-radius: 0px 0px 0px 25px;

          &::after {
            border-radius: 0px 0px 0px 25px;
          }
        }

        &:last-child {
          border-radius: 0px 0px 25px 0px;

          &::after {
            border-radius: 0px 0px 25px 0px;
          }
        }

        h4 {
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 5px;
        }

        .casestudyTxt {
          p {
            font-size: 13px;
            line-height: 20px;
          }

          .btnCase {
            margin-top: 10px;
            max-width: 100px;
            height: 32px;
            font-size: 12px;
          }
        }
      }
    }
    &.casestudyBlogss {
      .casestudyLpBox {
        .casestudyItem {
          flex: 0 0 50%;
          height: 230px;
          border-radius: 0px;
          padding: 20px;
          &::after {
          border-radius: 0px;
          }
          &:first-child {
            border-radius: 25px 0px 0px 0px;
  
            &::after {
              border-radius: 25px 0px 0px 0px;
            }
          }
  
          &:nth-child(2) {
            border-radius: 0px 25px 0px 0px;
  
            &::after {
              border-radius: 0px 25px 0px 0px;
            }
          }
  
          &:nth-last-child(2) {
            border-radius: 0px 0px 0px 25px;
  
            &::after {
              border-radius: 0px 0px 0px 25px;
            }
          }
  
          &:last-child {
            border-radius: 0px 0px 25px 0px;
  
            &::after {
              border-radius: 0px 0px 25px 0px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .casestudyLpSection {
    .casestudyLpBox {
      margin-top: 20px;

      .casestudyItem {
        flex: 0 0 25%;
        height: 220px;
        padding: 15px;

        &:first-child {
          border-radius: 25px 0px 0px 0px;

          &::after {
            border-radius: 25px 0px 0px 0px;
          }
        }

        &:nth-child(4) {
          border-radius: 0px 25px 0px 0px;

          &::after {
            border-radius: 0px 25px 0px 0px;
          }
        }

        &:nth-child(5) {
          border-radius: 0px 0px 0px 25px;

          &::after {
            border-radius: 0px 0px 0px 25px;
          }
        }

        &:last-child {
          border-radius: 0px 0px 25px 0px;

          &::after {
            border-radius: 0px 0px 25px 0px;
          }
        }

        h4 {
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 5px;
        }

        .casestudyTxt {
          p {
            font-size: 13px;
            line-height: 20px;
          }

          .btnCase {
            margin-top: 10px;
            max-width: 100px;
            height: 32px;
            font-size: 12px;
          }
        }
      }
    }
    &.casestudyBlogss {
      .casestudyLpBox {
        .casestudyItem {
          flex: 0 0 50%;
          height: 230px;
          border-radius: 0px;
          padding: 15px;
          &::after {
          border-radius: 0px;
          }
          &:first-child {
            border-radius: 25px 0px 0px 0px;
  
            &::after {
              border-radius: 25px 0px 0px 0px;
            }
          }
  
          &:nth-child(2) {
            border-radius: 0px 25px 0px 0px;
  
            &::after {
              border-radius: 0px 25px 0px 0px;
            }
          }
  
          &:nth-last-child(2) {
            border-radius: 0px 0px 0px 25px;
  
            &::after {
              border-radius: 0px 0px 0px 25px;
            }
          }
  
          &:last-child {
            border-radius: 0px 0px 25px 0px;
  
            &::after {
              border-radius: 0px 0px 25px 0px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .casestudyLpSection {
    .casestudyLpBox {
      margin-top: 20px;
      .casestudyItem {
        flex: 0 0 25%;
        height: 180px;
        padding: 10px;

        &:first-child {
          border-radius: 15px 0px 0px 0px;

          &::after {
            border-radius: 15px 0px 0px 0px;
          }
        }

        &:nth-child(4) {
          border-radius: 0px 15px 0px 0px;

          &::after {
            border-radius: 0px 15px 0px 0px;
          }
        }

        &:nth-child(5) {
          border-radius: 0px 0px 0px 15px;

          &::after {
            border-radius: 0px 0px 0px 15px;
          }
        }

        &:last-child {
          border-radius: 0px 0px 15px 0px;

          &::after {
            border-radius: 0px 0px 15px 0px;
          }
        }

        h4 {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 5px;
        }

        .casestudyTxt {
          p {
            font-size: 12px;
            line-height: 16px;
          }

          .btnCase {
            margin-top: 10px;
            max-width: 100px;
            height: 30px;
            font-size: 11px;
          }
        }
      }
    }
    &.casestudyBlogss {
      .casestudyLpBox {
        .casestudyItem {
          flex: 0 0 100%;
          height: 210px;
          border-radius: 0px;
          padding: 15px;
          &::after {
          border-radius: 0px;
          }
          &:first-child {
            border-radius: 15px 15px 0px 0px;
  
            &::after {
              border-radius: 15px 15px 0px 0px;
            }
          }
  
          &:nth-child(2) {
            border-radius: 0px 0px 0px 0px;
  
            &::after {
              border-radius: 0px 0px 0px 0px;
            }
          }
  
          &:nth-last-child(2) {
            border-radius: 0px 0px 0px 0px;
  
            &::after {
              border-radius: 0px 0px 0px 0px;
            }
          }
  
          &:last-child {
            border-radius: 0px 0px 15px 15px;
  
            &::after {
              border-radius: 0px 0px 15px 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .casestudyLpSection {
    .casestudyLpBox {
      margin-top: 20px;

      .casestudyItem {
        flex: 0 0 50%;
        height: 180px;
        padding: 10px;
        border-radius: 0px !important;
        margin-bottom: 1px;

        &:first-child,
        &:nth-child(4),
        &:nth-child(5),
        &:last-child {
          border-radius: 0px !important;

          &::after {
            border-radius: 0px !important;
          }
        }

        h4 {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 5px;
        }

        .casestudyTxt {
          p {
            font-size: 12px;
            line-height: 16px;
          }

          .btnCase {
            margin-top: 10px;
            max-width: 100px;
            height: 30px;
            font-size: 11px;
          }
        }
      }
    }
    &.casestudyBlogss {
      .casestudyLpBox {
        .casestudyItem {
          flex: 0 0 100%;
          height: 210px;
          border-radius: 0px;
          padding: 15px;
          &::after {
          border-radius: 0px;
          }
          &:first-child {
            border-radius: 15px 15px 0px 0px;
  
            &::after {
              border-radius: 15px 15px 0px 0px;
            }
          }
  
          &:nth-child(2) {
            border-radius: 0px 0px 0px 0px;
  
            &::after {
              border-radius: 0px 0px 0px 0px;
            }
          }
  
          &:nth-last-child(2) {
            border-radius: 0px 0px 0px 0px;
  
            &::after {
              border-radius: 0px 0px 0px 0px;
            }
          }
  
          &:last-child {
            border-radius: 0px 0px 15px 15px;
  
            &::after {
              border-radius: 0px 0px 15px 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .casestudyLpSection {
    .casestudyLpBox {
      margin-top: 20px;

      .casestudyItem {
        flex: 0 0 100%;
        height: 220px;
        padding: 10px;
        border-radius: 0px !important;
        margin-bottom: 1px;

        &:first-child,
        &:nth-child(4),
        &:nth-child(5),
        &:last-child {
          border-radius: 0px !important;

          &::after {
            border-radius: 0px !important;
          }
        }

        h4 {
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 5px;
        }

        .casestudyTxt {
          p {
            font-size: 14px;
            line-height: 18px;
          }

          .btnCase {
            margin-top: 10px;
            max-width: 100px;
            height: 30px;
            font-size: 11px;
          }
        }
      }
    }
    &.casestudyBlogss {
      .casestudyLpBox {
        .casestudyItem {
          flex: 0 0 100%;
          height: 210px;
          border-radius: 0px;
          padding: 15px;
          &::after {
          border-radius: 0px;
          }
          &:first-child {
            border-radius: 15px 15px 0px 0px;
  
            &::after {
              border-radius: 15px 15px 0px 0px;
            }
          }
  
          &:nth-child(2) {
            border-radius: 0px 0px 0px 0px;
  
            &::after {
              border-radius: 0px 0px 0px 0px;
            }
          }
  
          &:nth-last-child(2) {
            border-radius: 0px 0px 0px 0px;
  
            &::after {
              border-radius: 0px 0px 0px 0px;
            }
          }
  
          &:last-child {
            border-radius: 0px 0px 15px 15px;
  
            &::after {
              border-radius: 0px 0px 15px 15px;
            }
          }
        }
      }
    }
  }
}
