.bookTabs {
    .tabContainer {
        .tabHeader {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin: 20px 0px 30px;

                li {
                    position: relative;
                    height: 57px;
                    background: #FFFFFF;
                    border: 1px solid #99AEBB;
                    border-radius: 93px;
                    overflow: hidden;
                    transition: color 0.3s ease, border-color 0.3s ease;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 57px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: -0.165px;
                    color: #6F787D;
                    padding: 0px 25px;
                    cursor: pointer;
                    flex: 0 0 calc(100% / 5 - 10px);

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background-color: #7635FF;
                        transition: width 0.3s ease;
                        z-index: 0;
                    }

                    &:hover:before {
                        width: 100%;
                    }

                    &:hover {
                        color: #fff;
                        border-color: #7635FF;
                    }

                    &.active {
                        color: #fff;
                        border-color: #7635FF;

                        &:before {
                            width: 100%;
                            background-color: #7635FF;
                        }
                    }

                    span {
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }

        .tabBody {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: 20px;

            .ImageBox {
                height: 400px;
                flex: 0 0 calc(100% / 5 - 10px);
                position: relative;
                border-radius: 10px;


                img {
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .bookTabs {
        .tabContainer {
            .tabHeader {
                ul {
                    gap: 10px;
                    margin: 20px 0px 30px;

                    li {
                        height: 55px;
                        font-size: 16px;
                        line-height: 55px;
                        padding: 0px 22px;
                    }
                }
            }

            .tabBody {
                flex-wrap: wrap;

                .ImageBox {
                    height: 370px;
                    position: relative;
                    border-radius: 20px;


                    img {
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .bookTabs {
        .tabContainer {
            .tabHeader {
                ul {
                    gap: 10px;
                    margin: 15px 0px 30px;

                    li {
                        height: 50px;
                        font-size: 15px;
                        line-height: 50px;
                        padding: 0px 20px;
                    }
                }
            }

            .tabBody {
                flex-wrap: wrap;

                .ImageBox {
                    height: 330px;
                    position: relative;
                    border-radius: 20px;


                    img {
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .bookTabs {
        .tabContainer {
            .tabHeader {
                ul {
                    gap: 10px;
                    margin: 15px 0px 30px;

                    li {
                        height: 45px;
                        font-size: 14px;
                        line-height: 45px;
                        padding: 0px 20px;
                    }
                }
            }

            .tabBody {
                flex-wrap: wrap;

                .ImageBox {
                    height: 300px;
                    position: relative;
                    border-radius: 15px;

                    img {
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .bookTabs {
        .tabContainer {
            .tabHeader {
                ul {
                    gap: 10px;
                    margin: 15px 0px 30px;

                    li {
                        height: 40px;
                        font-size: 13px;
                        line-height: 40px;
                        padding: 0px 20px;
                    }
                }
            }

            .tabBody {
                flex-wrap: wrap;

                .ImageBox {
                    height: 350px;
                    position: relative;
                    border-radius: 15px;
                    flex: 0 0 calc(100% / 4 - 10px);

                    img {
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .bookTabs {
        .tabContainer {
            .tabHeader {
                ul {
                    gap: 10px;
                    margin: 10px 0px 30px;

                    li {
                        height: 40px;
                        font-size: 13px;
                        line-height: 40px;
                        padding: 0px 20px;
                    }
                }
            }

            .tabBody {
                flex-wrap: wrap;

                .ImageBox {
                    height: 340px;
                    position: relative;
                    border-radius: 15px;
                    flex: 0 0 calc(100% / 3 - 10px);

                    img {
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .bookTabs {
        .tabContainer {
            .tabHeader {
                ul {
                    gap: 5px;
                    margin: 10px 0px 30px;

                    li {
                        height: 40px;
                        font-size: 11px;
                        line-height: 40px;
                        padding: 0px 5px;
                    }
                }
            }

            .tabBody {
                flex-wrap: wrap;

                .ImageBox {
                    height: 280px;
                    position: relative;
                    border-radius: 15px;
                    flex: 0 0 calc(100% / 3 - 10px);

                    img {
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .bookTabs {
        .tabContainer {
            .tabHeader {
                ul {
                    gap: 5px;
                    margin: 10px 0px 10px;
                    flex-wrap: wrap;

                    li {
                        height: 40px;
                        font-size: 12px;
                        line-height: 40px;
                        padding: 0px 10px;
                        flex: 0 0 calc(100% / 2 - 10px);
                    }
                }
            }

            .tabBody {
                flex-wrap: wrap;

                .ImageBox {
                    height: 250px;
                    position: relative;
                    border-radius: 15px;
                    flex: 0 0 calc(100% / 2 - 10px);

                    img {
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}