.newsletterSection {
    max-height: 615px;

    .bgContainer {
        background: linear-gradient(0deg, #E0F0FF 0%, #FFFFFF 100%);
        border-radius: 23px;

        &.bgBlack {
            background: #000;

            h2,
            p {
                color: #fff;
            }
        }

        .newsletterContent {
            padding: 25px 50px;
        }

        .newsletterVideo {
            position: relative;
            height: 450px;

            img {
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }


}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .newsletterSection {
        max-height: 580px;

        .bgContainer {
            .newsletterContent {
                padding: 40px;
            }

            .newsletterVideo {
                height: 380px;
            }
        }


    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .newsletterSection {
        max-height: 540px;

        .bgContainer {

            .newsletterContent {
                padding: 35px;
            }

            .newsletterVideo {
                height: 350px;
            }
        }


    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .newsletterSection {
        max-height: 500px;

        .bgContainer {

            .newsletterContent {
                padding: 30px;
            }

            .newsletterVideo {
                height: 350px;
            }
        }


    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .newsletterSection {
        max-height: 500px;

        .bgContainer {

            .newsletterContent {
                padding: 30px;
            }

            .newsletterVideo {
                height: 320px;
            }
        }


    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .newsletterSection {
        max-height: 500px;

        .bgContainer {

            .newsletterContent {
                padding: 25px;
            }

            .newsletterVideo {
                height: 300px;

                img {
                    border-radius: 20px;

                }
            }
        }


    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .newsletterSection {
        height: auto;
        max-width: 96%;
        margin: auto;


        .bgContainer {
            padding-bottom: 30px;

            .newsletterContent {
                padding: 25px;
            }

            .newsletterVideo {
                display: none;
            }
        }


    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .newsletterSection {
        height: auto;

        .bgContainer {
            padding-bottom: 0px;
            max-width: 96%;
            margin: auto;

            .newsletterContent {
                padding: 15px 15px 20px;
            }

            .newsletterVideo {
                // display: none;
                height: 200px;

                img {
                    border-radius: 20px;
                }
            }
        }


    }
}