.stateCountSection {

    &.videoSection {
        background: linear-gradient(0deg, #E0F0FF 0%, #FFFFFF 100%);
        box-shadow: 0px 13px 0px rgba(39, 98, 123, 0.02);
        padding-bottom: 50px;
    }

    &.borderRound {
        background: linear-gradient(0deg, #E0F0FF 0%, #FFFFFF 100%);
        border-radius: 0px 0px 100px 100px;
    }

    &.noState {
        .stateCountLp {
            background: linear-gradient(90deg, #E0F0FF 0%, #FFFFFF 100%);
            border-radius: 40px;
            padding-left: 30px;
        }
    }

    &.RoundedStyle {
        background: linear-gradient(0deg, #E0F0FF 0%, #FFFFFF 100%);
        border-radius: 100px;
        overflow: hidden;
        height: 160px;
        justify-content: center;
        align-items: center;
        display: flex;

        .stateCountItem {
            height: 120px;
            padding: 0px;
            margin: 0px;

            &:hover {
                transform: scale(1.01);
                box-shadow: none;
                border: 0px;
            }
        }
    }

    .stateCountLp {
        margin-bottom: 30px;

        .contuerImg {
            position: relative;
            height: 550px;

            &.heightImg {
                height: 850px;
            }

            img {
                object-fit: cover;
                border-radius: 50px;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px;
            }
        }

        .contuerVideoBox {
            position: relative;
            height: 550px;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px;
            }
        }

    }

    .stateCountItem {
        height: 230px;
        width: 100%;
        background: linear-gradient(0deg, #E0F0FF 0%, #FFFFFF 100%);
        box-shadow: 0px 13px 0px rgba(39, 98, 123, 0.01);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 70px;
        letter-spacing: -0.358779px;
        color: #000000;
        padding: 20px;
        margin-top: 20px;
        transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

        .title {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.134826px;
            color: #000000;
            transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        }

        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            border: 0px;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .stateCountSection {
        .stateCountLp {
            margin-bottom: 30px;

            .contuerImg {
                position: relative;
                height: 500px;

                &.heightImg {
                    height: 800px;
                }

                img {
                    object-fit: cover;
                    border-radius: 40px;
                }
            }
        }

        &.borderRound {
            border-radius: 0px 0px 80px 80px;
        }

        &.RoundedStyle {
            height: 150px;

            .stateCountItem {
                height: 110px;
            }
        }

        .stateCountItem {
            height: 220px;
            border-radius: 28px;
            font-size: 45px;
            line-height: 65px;
            padding: 20px;
            margin-top: 20px;

            .title {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .stateCountSection {
        .stateCountLp {
            margin-bottom: 30px;

            .contuerImg {
                position: relative;
                height: 500px;

                &.heightImg {
                    height: 700px;
                }

                img {
                    object-fit: cover;
                    border-radius: 40px;
                }
            }
        }

        &.borderRound {
            border-radius: 0px 0px 70px 70px;
        }

        &.RoundedStyle {
            height: 140px;

            .stateCountItem {
                height: 100px;
            }
        }

        .stateCountItem {
            height: 180px;
            border-radius: 25px;
            font-size: 42px;
            line-height: 60px;
            padding: 20px;
            margin-top: 20px;

            .title {
                font-size: 17px;
                line-height: 28px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .stateCountSection {
        .stateCountLp {
            margin-bottom: 20px;

            .contuerImg {
                position: relative;
                height: 480px;

                &.heightImg {
                    height: 650px;
                }

                img {
                    object-fit: cover;
                    border-radius: 40px;
                }
            }
        }

        &.borderRound {
            border-radius: 0px 0px 60px 60px;
        }

        &.RoundedStyle {
            height: 130px;

            .stateCountItem {
                height: 90px;
            }
        }

        .stateCountItem {
            height: 180px;
            border-radius: 20px;
            font-size: 40px;
            line-height: 55px;
            padding: 20px;
            margin-top: 20px;

            .title {
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .stateCountSection {
        .stateCountLp {
            margin-bottom: 20px;

            .contuerImg {
                position: relative;
                height: 420px;

                &.heightImg {
                    height: 600px;
                }

                img {
                    object-fit: cover;
                    border-radius: 40px;
                }
            }
        }

        &.borderRound {
            border-radius: 0px 0px 50px 50px;
        }

        &.RoundedStyle {
            height: 120px;

            .stateCountItem {
                height: 80px;
            }
        }

        .stateCountItem {
            height: 180px;
            border-radius: 20px;
            font-size: 40px;
            line-height: 55px;
            padding: 20px;
            margin-top: 20px;

            .title {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .stateCountSection {
        .stateCountLp {
            margin-bottom: 20px;

            .contuerImg {
                position: relative;
                height: 400px;

                &.heightImg {
                    height: 600px;
                }

                img {
                    object-fit: cover;
                    border-radius: 30px;
                }
            }
        }

        &.borderRound {
            border-radius: 0px 0px 40px 40px;
        }

        &.RoundedStyle {
            height: 110px;

            .stateCountItem {
                height: 70px;
            }
        }

        .stateCountItem {
            height: 140px;
            border-radius: 20px;
            font-size: 32px;
            line-height: 42px;
            padding: 15px 10px;
            margin-top: 20px;

            .title {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .stateCountSection {
        .stateCountLp {
            margin-bottom: 20px;

            .contuerImg {
                position: relative;
                height: 250px;
                margin-top: 20px;

                &.heightImg {
                    height: 250px;
                }

                img {
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
        }

        &.borderRound {
            border-radius: 0px 0px 30px 30px;
        }

        &.RoundedStyle {
            height: auto;
            border-radius: 0px;

            .stateCountItem {
                height: 90px;
                background: transparent;
            }
        }

        .stateCountItem {
            height: 160px;
            border-radius: 20px;
            font-size: 35px;
            line-height: 50px;
            padding: 15px;
            margin-top: 20px;

            .title {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .stateCountSection {
        .stateCountLp {
            margin-bottom: 20px;

            .contuerImg {
                position: relative;
                height: 250px;
                margin-top: 20px;

                &.heightImg {
                    height: 250px;
                }

                img {
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
        }

        &.borderRound {
            border-radius: 0px 0px 20px 20px;
        }

        &.RoundedStyle {
            height: auto;
            border-radius: 0px;

            .stateCountItem {
                height: auto;
                background: transparent;
                padding: 20px;
            }
        }

        .stateCountItem {
            height: 180px;
            border-radius: 20px;
            font-size: 45px;
            line-height: 60px;
            padding: 15px;
            margin-top: 20px;

            .title {
                font-size: 17px;
                line-height: 20px;
            }
        }
    }
}