.headerSection {
    height: 115px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0;
    z-index: 9;

    .mainLogo {
        svg {
            height: 80px;
            width: auto;
        }
    }

    .btnFlex {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;


        div,
        a {
            height: 65px;
            border-radius: 100px;
            padding: 0px 30px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: -0.165px;
            cursor: pointer;
            transition: background 0.3s ease, transform 0.3s ease;

            svg {
                display: none;
            }

            &.btnStyle {
                background: linear-gradient(9.84deg, #FFFFFF -12.54%, #9AFF35 103.72%);
                color: #000000;


                &:hover {
                    background: linear-gradient(9.84deg, #9AFF35 -12.54%, #FFFFFF 103.72%);
                    transform: scale(1.01);
                    transition: background 0.3s ease, transform 0.3s ease;
                }
            }

            &.chatStyle {
                background: #000;
                color: #fff;

                &:hover {
                    background: linear-gradient(9.84deg, rgb(0, 0, 0, .8) -12.54%, rgb(0, 0, 0, .9) 103.72%);
                    transform: scale(1.01);
                    transition: background 0.3s ease, transform 0.3s ease;
                    color: #fff;
                }
            }
        }
    }

    .lastBtn {
        float: right;
        clear: both;
        height: 70px;

        a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.165px;
        }
    }

    &.isLight {
        .mainLogo {
            svg {
                path {
                    &:nth-child(1) {
                        fill: #000;
                    }

                    &:last-child {
                        fill: #000;
                    }
                }

            }
        }

    }


}

.menuSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    border-radius: 100px;
    padding: 0px 30px;
    position: relative;

    &::before {
        content: '';
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(7.5px);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 100px;
    }

    &.isLight {
        &::before {
            content: '';
            background: rgba(0, 0, 0, 1);
            backdrop-filter: blur(7.5px);
        }
    }

    &.active {
        border: 0px;

        &::before {
            display: none;
        }
    }

    li {
        height: 100%;

        a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 70px;
            letter-spacing: -0.165px;
            color: #FFFFFF;
            transition: color 0.3s ease, font-weight 0.3s ease;
            height: 100%;
            display: block;

            &:hover {
                color: #9AFF35;
                transition: color 0.3s ease, font-weight 0.3s ease;
            }
        }

        &.active {
            a {
                color: #9AFF35;
            }
        }

    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .headerSection {
        height: 100px;

        .btnFlex {
            gap: 10px;

            div,
            a {
                height: 65px;
                padding: 0px 30px;
            }
        }

        &.active {
            height: 85px;

            .lastBtn {
                height: 60px;

                a {
                    font-size: 15px;
                    line-height: 22px;
                }
            }

            .mainLogo {
                svg {
                    height: 75px;
                    width: auto;
                }
            }
        }

        .lastBtn {
            height: 65px;

            a {
                font-size: 15px;
                line-height: 22px;
            }

        }
    }

    .menuSection {
        height: 65px;
        padding: 0px 20px;

        li {
            a {
                font-size: 15px;
                line-height: 65px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .headerSection {
        height: 90px;

        .mainLogo {
            svg {
                height: 70px;
                width: auto;
            }
        }

        &.active {
            height: 80px;

            .lastBtn {

                height: 55px;

                a {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            .mainLogo {
                svg {
                    height: 65px;
                    width: auto;
                }
            }
        }

        .lastBtn {

            height: 62px;

            a {
                font-size: 14px;
                line-height: 22px;
            }
        }

        .btnFlex {
            gap: 10px;

            div,
            a {
                height: 62px;
                padding: 0px 30px;
            }
        }
    }

    .menuSection {
        height: 62px;
        padding: 0px 20px;

        li {
            a {
                font-size: 15px;
                line-height: 62px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .headerSection {
        height: 80px;

        .mainLogo {
            svg {
                height: 60px;
                width: auto;
            }
        }

        &.active {
            height: 70px;

            .lastBtn {
                height: 50px;

                a {
                    font-size: 13px;
                    line-height: 22px;
                }
            }

            .mainLogo {
                svg {
                    height: 55px;
                    width: auto;
                }
            }
        }

        .lastBtn {
            height: 57px;

            a {
                font-size: 14px;
                line-height: 22px;
            }
        }

        .btnFlex {
            gap: 10px;

            div,
            a {
                height: 57px;
                padding: 0px 25px;
                font-size: 15px;
            }
        }
    }

    .menuSection {
        height: 57px;
        padding: 0px 20px;

        li {
            a {
                font-size: 14px;
                line-height: 57px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .headerSection {
        height: 75px;

        .mainLogo {
            svg {
                height: 55px;
                width: auto;
            }
        }

        &.active {
            height: 65px;

            .lastBtn {
                height: 45px;

                a {
                    font-size: 13px;
                    line-height: 22px;
                }
            }

            .mainLogo {
                svg {
                    height: 50px;
                    width: auto;
                }
            }
        }

        .lastBtn {
            height: 50px;

            a {
                font-size: 14px;
                line-height: 22px;
            }
        }

        .btnFlex {
            gap: 10px;

            div,
            a {
                height: 50px;
                padding: 0px 25px;
                font-size: 14px;
            }
        }
    }

    .menuSection {
        height: 50px;
        padding: 0px 10px;

        li {
            a {
                font-size: 13px;
                line-height: 50px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .headerSection {
        height: 75px;

        .mainLogo {
            svg {
                height: 50px;
                width: auto;
            }
        }

        &.active {
            height: 65px;

            .lastBtn {
                height: 45px;

                a {
                    font-size: 13px;
                    line-height: 22px;
                }
            }

            .mainLogo {
                svg {
                    height: 45px;
                    width: auto;
                }
            }
        }

        .lastBtn {
            height: 50px;
            min-width: 110px;
            font-size: 10px;
            padding: 0px 0px;

            a {
                font-size: 12px;
                line-height: 22px;
            }
        }

        .btnFlex {
            gap: 10px;

            div,
            a {
                height: 50px;
                padding: 0px 25px;
                font-size: 14px;
            }
        }
    }

    .menuSection {
        height: 50px;
        padding: 0px 0px;

        li {
            a {
                font-size: 11px;
                line-height: 50px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .headerSection {
        height: 70px;

        .mainLogo {
            svg {
                height: 50px;
                width: auto;
            }
        }

        &.active {
            height: 60px;

            .lastBtn {
                display: none;
            }

            .mainLogo {
                svg {
                    height: 45px;
                    width: auto;
                }
            }
        }

        .lastBtn {
            display: none;
        }

        .btnFlex {
            gap: 5px;

            div,
            a {
                height: 45px;
                padding: 0px 0px;
                width: 45px;
                font-size: 0;
                display: flex;
                min-width: auto;
                justify-content: center;
                align-items: center;
                background: transparent;
                border: 2px solid #9AFF35;

                &:hover {
                    svg {
                        path {
                            fill: #9AFF35;
                        }
                    }
                }

                &.chatStyle {
                    background: transparent;
                }

                svg {
                    display: block;
                    width: 22px;
                    height: auto;

                    path {
                        fill: #9AFF35;
                    }
                }
            }
        }
    }

    .menuSection {
        position: fixed;
        width: 300px;
        height: calc(100vh - 0px);
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(7.5px);
        top: 60px;
        right: -300px;
        transition: width 0.5s, opacity 0.5s;
        z-index: 9;
        opacity: 0;
        overflow: auto;
        animation: slideFromTop 0.5s forwards;
        border: 0px;
        border-radius: 0px;
        display: flex;
        padding: 0px 20px;

        &.menuActive {
            right: 0px;
            opacity: 1;
            animation: slideFromTop 0.5s forwards;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            &::before {
                display: none;
            }

            li {
                height: 40px;

                a {
                    font-size: 14px;
                    line-height: 40px;
                }
            }
        }
    }
}