.contactSection {
    background: linear-gradient(180deg, #E0F0FF 0%, #FFFFFF 30%);
    border-radius: 100px 100px 0px 0px;

    .formContainer {
        position: relative;
        padding: 0px 50px;
        z-index: 1;

        &::after {
            content: '';
            background: rgba(0, 133, 255, 0.19);
            filter: blur(207px);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            border-radius: 100%;
            z-index: -1;
        }

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 58px;
            text-align: center;
            letter-spacing: -0.241964px;
            color: #7635FF;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.167059px;
            color: #000000;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .contactSection {
        border-radius: 80px 80px 0px 0px;

        .formContainer {
            padding: 0px 50px;

            h4 {
                font-size: 35px;
                line-height: 58px;
            }

            p {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .contactSection {
        border-radius: 60px 60px 0px 0px;

        .formContainer {
            padding: 0px 50px;

            h4 {
                font-size: 35px;
                line-height: 45px;
            }

            p {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .contactSection {
        border-radius: 60px 60px 0px 0px;

        .formContainer {
            padding: 0px 50px;

            h4 {
                font-size: 35px;
                line-height: 45px;
            }

            p {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .contactSection {
        border-radius: 50px 50px 0px 0px;

        .formContainer {
            padding: 0px 40px;

            h4 {
                font-size: 32px;
                line-height: 42px;
            }

            p {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .contactSection {
        border-radius: 40px 40px 0px 0px;

        .formContainer {
            padding: 0px 50px;

            h4 {
                font-size: 32px;
                line-height: 42px;
            }

            p {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .contactSection {
        border-radius: 40px 40px 0px 0px;

        .formContainer {
            padding: 0px 50px;

            h4 {
                font-size: 32px;
                line-height: 42px;
            }

            p {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .contactSection {
        border-radius: 40px 40px 0px 0px;

        .formContainer {
            padding: 0px 10px;


            h4 {
                font-size: 32px;
                line-height: 42px;
            }

            p {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 0px;
            }
        }
    }
}