.bannerSection {
  height: 100vh;
  background: linear-gradient(180deg, #e0f0ff 0%, #ffffff 70%);

  h1 {
    color: #000;
  }
  img {
    border-radius: 15px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerSection {
    height: 700px;
    padding-top: 90px;
    h1 {
      font-size: 55px;
      line-height: 65px;
      margin-bottom: 15px;
    }
    img {
      // height: 500px;
      width: auto;
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerSection {
    height: 700px;
    padding-top: 90px;
    h1 {
      font-size: 50px;
      line-height: 55px;
      margin-bottom: 10px;
    }
    img {
      // height: 420px;
      width: auto;
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerSection {
    height: 700px;
    padding-top: 90px;
    h1 {
      font-size: 45px;
      line-height: 50px;
      margin-bottom: 10px;
    }
    img {
      // height: 420px;
      width: auto;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerSection {
    height: 700px;
    h1 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 10px;
    }
    img {
      // height: 420px;
      width: auto;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerSection {
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    h1 {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    img {
      // height: 400px;
      width: auto;
      margin: auto;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerSection {
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    h1 {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    img {
      margin-top: 30px;
    }
  }
}
