.embla {
    margin-bottom: 10px;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y pinch-zoom;


            .embla__slide {
                flex: 0 0 calc(100% / 4 - 10px);
                margin-right: 10px;

                .imgBox {
                    height: 400px;
                    max-height: 400px;
                    position: relative;

                    img {
                        object-fit: cover;
                    }
                }

            }
        }
    }
}


@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 calc(100% / 4 - 10px);
                    margin-right: 10px;

                    .imgBox {
                        height: 320px;
                        max-height: 320px;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 calc(100% / 4 - 10px);
                    margin-right: 10px;

                    .imgBox {
                        height: 280px;
                        max-height: 280px;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 calc(100% / 3 - 10px);
                    margin-right: 10px;

                    .imgBox {
                        height: 320px;
                        max-height: 320px;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 calc(100% / 3 - 10px);
                    margin-right: 10px;

                    .imgBox {
                        height: 250px;
                        max-height: 250px;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .embla {
        margin-bottom: 5px;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 calc(100% / 3 - 5px);
                    margin-right: 5px;

                    .imgBox {
                        height: 200px;
                        max-height: 200px;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .embla {
        margin-bottom: 5px;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 calc(100% / 2 - 5px);
                    margin-right: 5px;

                    .imgBox {
                        height: 180px;
                        max-height: 180px;
                    }

                }
            }
        }
    }
}