.logoSection {
    background: linear-gradient(0deg, #E0F0FF 0%, #FFFFFF 70%);
    padding-bottom: 50px;

    .logoBox {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .logoImg {
            height: 130px;
            flex: 0 0 calc(100% / 5 - 20px);
        }
    }
}