.landingServices {
    border-radius: 120px 120px 0px 0px;
    background: #F5FAFF;
    margin-top: 100px;
    padding-bottom: 50px;

    .landingServicesContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;

        .landingServicesItem {
            flex: 0 0 calc(33.33% - 10px);
            margin-bottom: 20px;
            background: #FFFFFF;
            border: 1px solid #ACB5BE;
            border-radius: 26px;
            transition: all 0.5s ease;
            height: 450px;
            width: 100%;
            overflow: hidden;
            padding: 25px;
            position: relative;

            &:hover {
                background: linear-gradient(9.84deg, #fff -12.54%, #9aff35 103.72%);
                border: 0px;
                transform: scale(1.01);
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

                .icon {
                    background: #000;

                    svg {
                        width: auto;
                        height: 35px;
                        transition: all 0.3s ease;
                    }
                }

                p {
                    z-index: 2;
                    position: relative;
                    opacity: 1;
                    color: #000;
                    transition: color 0.3s ease;
                }

                .readMore {
                    z-index: 2;
                    background: #000;
                    border-color: #000;
                    color: #fff;
                    transition: background 0.3s ease, color 0.3s ease;

                    a {
                        color: #fff;
                        transition: color 0.3s ease;
                    }
                }

                .btnReaMore {
                    z-index: 2;
                    transform: rotate(-45deg);
                    background: #9AFF35;
                    transition: transform 0.3s ease, background 0.3s ease;

                    svg {
                        path {
                            stroke: #000;
                            transition: stroke 0.3s ease;
                            /* Smooth stroke color change */
                        }
                    }
                }
            }

            .icon {
                margin-bottom: 20px;
                width: 73px;
                height: 73px;
                border-radius: 100%;
                background: rgba(154, 255, 53, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: auto;
                    height: 35px;
                }
            }

            .title {
                position: relative;
                z-index: 2;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 30px;
                letter-spacing: -0.165px;
                color: #000000;
                margin-bottom: 15px;
            }

            p {
                opacity: 1;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 10px;
            }

            .readMore {
                width: 140px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #000000;
                border-radius: 100px;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 30px;
                letter-spacing: -0.165px;
                cursor: pointer;
                position: absolute;
                left: 20px;
                bottom: 20px;

                a {
                    color: #000000;
                }
            }

            .btnReaMore {
                height: 38px;
                width: 38px;
                background: #000000;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: absolute;
                bottom: 20px;
                right: 20px;

                svg {
                    width: 18px;
                    height: auto;

                    path {
                        stroke: #fff;
                    }
                }
            }
        }
    }
}