.locationSection {
  overflow: hidden;

  .locationContainer {
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 80px 0px;

    h2 {
      color: #fff;
    }

    .LocaionBox {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 30px;

      .LocaionItem {
        flex: 0 0 calc(25% - 20px);
        background: #ffffff;
        border-radius: 15px;
        height: 90px;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.165px;
        color: #000000;
        justify-content: center;
        a {
          color: #000000;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .locationSection {
    .locationContainer {
      border-radius: 50px;
      padding: 70px 0px;

      .LocaionBox {
        gap: 15px;
        margin-top: 25px;

        .LocaionItem {
          flex: 0 0 calc(25% - 15px);
          height: 80px;
          font-size: 22px;
          line-height: 32px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .locationSection {
    .locationContainer {
      border-radius: 50px;
      padding: 50px 0px;

      .LocaionBox {
        gap: 10px;
        margin-top: 25px;

        .LocaionItem {
          flex: 0 0 calc(25% - 10px);
          height: 70px;
          font-size: 20px;
          line-height: 30px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .locationSection {
    .locationContainer {
      border-radius: 50px;
      padding: 50px 0px;

      .LocaionBox {
        gap: 10px;
        margin-top: 25px;

        .LocaionItem {
          flex: 0 0 calc(25% - 10px);
          height: 70px;
          font-size: 20px;
          line-height: 30px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .locationSection {
    .locationContainer {
      border-radius: 50px;
      padding: 50px 0px;

      .LocaionBox {
        gap: 10px;
        margin-top: 20px;

        .LocaionItem {
          flex: 0 0 calc(25% - 10px);
          height: 60px;
          font-size: 18px;
          line-height: 28px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .locationSection {
    overflow: hidden;

    .locationContainer {
      border-radius: 30px;
      padding: 40px 20px;
      max-width: 96%;

      .LocaionBox {
        gap: 10px;
        margin-top: 20px;

        .LocaionItem {
          flex: 0 0 calc(33.33% - 10px);
          height: 60px;
          font-size: 18px;
          line-height: 28px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .locationSection {
    overflow: hidden;

    .locationContainer {
      border-radius: 30px;
      padding: 40px 20px;
      max-width: 96%;

      .LocaionBox {
        gap: 10px;
        margin-top: 20px;

        .LocaionItem {
          flex: 0 0 calc(33.33% - 10px);
          height: 60px;
          font-size: 18px;
          line-height: 28px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .locationSection {
    overflow: hidden;

    .locationContainer {
      border-radius: 30px;
      padding: 40px 20px;
      max-width: 96%;

      .LocaionBox {
        gap: 10px;
        margin-top: 20px;

        .LocaionItem {
          flex: 0 0 calc(50% - 10px);
          height: 50px;
          font-size: 16px;
          line-height: 28px;
          border-radius: 10px;
          font-size: 500;
        }
      }
    }
  }
}
