.customPriceSection {
  background: #7635ff;
  position: relative;
  border-radius: 100px 100px 0px 0px;
  &.postPage {
    border-radius: 20px;
    padding: 0px 30px;
}
  h2 {
    color: #fff;

    span {
      display: block;
      font-size: 20px;
      font-weight: 600;
      line-height: 35px;
    }
  }

  p {
    color: #fff;
  }

  .customPriceBox {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #ffffff;
    padding: 15px 10px;
    border-radius: 30px;

    .customBoxbg {
      background: #ffffff;
      border-radius: 30px;
      padding: 40px;
      position: relative;
      height: 730px;

      .customHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 30px;
        padding-bottom: 30px;

        .customTitle {
          flex: 0 0 60%;

          h5 {
            font-style: normal;
            font-weight: 600;
            font-size: 33px;
            line-height: 38px;
            letter-spacing: -0.241964px;
            color: #7635ff;
            margin-bottom: 5px;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: -0.167059px;
            color: #000000;
            margin-bottom: 0px;
          }
        }

        .customPrice {
          flex: 0 0 40%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;

          .startAt {
            width: 200px;
            height: 50px;
            background: #9aff35;
            border-radius: 100px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: -0.241964px;
            color: #000000;
            margin-bottom: 10px;
          }

          .Price {
            font-style: normal;
            font-weight: 600;
            font-size: 68px;
            line-height: 80px;
            letter-spacing: -0.550676px;
            color: #7635ff;
            text-align: right;
          }
        }
      }

      .customMainBtn {
        width: 100%;
        height: 50px;
        background: #9aff35;
        border-radius: 100px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.241964px;
        color: #000000;
        margin-bottom: 10px;
      }

      .listPrice {
        margin-top: 50px;

        .listItem {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 30px;
          padding-bottom: 30px;

          .listIcon {
            flex: 0 0 90px;

            .listIconSvg {
              width: 74px;
              height: 74px;
              background: #7635ff;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .listTxt {
            flex: 0 0 calc(100% - 90px);

            h6 {
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 26px;
              letter-spacing: -0.241964px;
              color: #000000;
              margin-bottom: 5px;
            }

            p {
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              letter-spacing: -0.167059px;
              color: #73858f;
              margin-bottom: 0px;
            }
          }

          &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: 0px;
          }
        }
      }

      .customForm {
        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 35px;
          line-height: 45px;
          letter-spacing: -0.241964px;
          color: #7635ff;
          margin-bottom: 10px;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: -0.167059px;
          color: #485e79;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .customPriceSection {
    border-radius: 80px 80px 0px 0px;

    h2 {
      span {
        font-size: 18px;
        line-height: 32px;
      }
    }

    .customPriceBox {
      margin-top: 40px;
      margin-bottom: 50px;
      padding: 15px 10px;
      border-radius: 25px;

      .customBoxbg {
        border-radius: 25px;
        padding: 25px;
        height: 650px;

        .customHeader {
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 25px;
          padding-bottom: 25px;

          .customTitle {
            flex: 0 0 60%;

            h5 {
              font-size: 30px;
              line-height: 36px;
              margin-bottom: 5px;
            }

            p {
              font-size: 14px;
              line-height: 18px;
            }
          }

          .customPrice {
            flex: 0 0 40%;

            .startAt {
              width: 180px;
              height: 45px;
              font-size: 17px;
              margin-bottom: 10px;
            }

            .Price {
              font-style: normal;
              font-weight: 600;
              font-size: 60px;
              line-height: 60px;
            }
          }
        }

        .customMainBtn {
          width: 100%;
          height: 50px;
          font-size: 17px;
          margin-bottom: 10px;
        }

        .listPrice {
          margin-top: 30px;

          .listItem {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;

            .listIcon {
              flex: 0 0 75px;

              .listIconSvg {
                width: 60px;
                height: 60px;

                svg {
                  height: 28px;
                  width: auto;
                }
              }
            }

            .listTxt {
              flex: 0 0 calc(100% - 75px);

              h6 {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 5px;
              }

              p {
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 0px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }
          }
        }

        .customForm {
          h3 {
            font-size: 32px;
            line-height: 45px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .customPriceSection {
    border-radius: 60px 60px 0px 0px;

    h2 {
      span {
        font-size: 17px;
        line-height: 30px;
      }
    }

    .customPriceBox {
      margin-top: 40px;
      margin-bottom: 50px;
      padding: 15px 10px;
      border-radius: 25px;

      .customBoxbg {
        border-radius: 25px;
        padding: 30px;
        height: 620px;

        .customHeader {
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 25px;
          padding-bottom: 25px;

          .customTitle {
            flex: 0 0 60%;

            h5 {
              font-size: 26px;
              line-height: 32px;
              margin-bottom: 5px;
            }

            p {
              font-size: 14px;
              line-height: 18px;
            }
          }

          .customPrice {
            flex: 0 0 40%;

            .startAt {
              width: 180px;
              height: 45px;
              font-size: 17px;
              margin-bottom: 10px;
            }

            .Price {
              font-style: normal;
              font-weight: 600;
              font-size: 55px;
              line-height: 55px;
            }
          }
        }

        .customMainBtn {
          width: 100%;
          height: 50px;
          font-size: 17px;
          margin-bottom: 10px;
        }

        .listPrice {
          margin-top: 30px;

          .listItem {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;

            .listIcon {
              flex: 0 0 75px;

              .listIconSvg {
                width: 60px;
                height: 60px;

                svg {
                  height: 28px;
                  width: auto;
                }
              }
            }

            .listTxt {
              flex: 0 0 calc(100% - 75px);

              h6 {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 5px;
              }

              p {
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 0px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }
          }
        }

        .customForm {
          h3 {
            font-size: 32px;
            line-height: 45px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .customPriceSection {
    border-radius: 50px 50px 0px 0px;

    h2 {
      span {
        font-size: 17px;
        line-height: 26px;
      }
    }

    .customPriceBox {
      margin-top: 30px;
      margin-bottom: 50px;
      padding: 15px 10px;
      border-radius: 25px;

      .customBoxbg {
        border-radius: 25px;
        padding: 30px;
        height: 610px;

        .customHeader {
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 25px;
          padding-bottom: 25px;

          .customTitle {
            flex: 0 0 60%;

            h5 {
              font-size: 25px;
              line-height: 30px;
              margin-bottom: 5px;
            }

            p {
              font-size: 13px;
              line-height: 18px;
            }
          }

          .customPrice {
            flex: 0 0 40%;

            .startAt {
              width: 150px;
              height: 42px;
              font-size: 15px;
              margin-bottom: 10px;
            }

            .Price {
              font-size: 45px;
              line-height: 45px;
            }
          }
        }

        .customMainBtn {
          width: 100%;
          height: 45px;
          font-size: 15px;
          margin-bottom: 10px;
        }

        .listPrice {
          margin-top: 30px;

          .listItem {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;

            .listIcon {
              flex: 0 0 65px;

              .listIconSvg {
                width: 55px;
                height: 55px;

                svg {
                  height: 22px;
                  width: auto;
                }
              }
            }

            .listTxt {
              flex: 0 0 calc(100% - 65px);

              h6 {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 5px;
              }

              p {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }
          }
        }

        .customForm {
          h3 {
            font-size: 32px;
            line-height: 45px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .customPriceSection {
    border-radius: 50px 50px 0px 0px;

    h2 {
      span {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .customPriceBox {
      margin-top: 30px;
      margin-bottom: 50px;
      padding: 15px 10px;
      border-radius: 25px;

      .customBoxbg {
        border-radius: 25px;
        padding: 20px;
        height: 600px;

        .customHeader {
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 25px;
          padding-bottom: 25px;

          .customTitle {
            flex: 0 0 60%;

            h5 {
              font-size: 22px;
              line-height: 26px;
              margin-bottom: 5px;
            }

            p {
              font-size: 13px;
              line-height: 18px;
            }
          }

          .customPrice {
            flex: 0 0 40%;

            .startAt {
              width: 120px;
              height: 40px;
              font-size: 15px;
              margin-bottom: 10px;
            }

            .Price {
              font-size: 40px;
              line-height: 40px;
            }
          }
        }

        .customMainBtn {
          width: 100%;
          height: 45px;
          font-size: 15px;
          margin-bottom: 10px;
        }

        .listPrice {
          margin-top: 30px;

          .listItem {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;

            .listIcon {
              flex: 0 0 65px;

              .listIconSvg {
                width: 55px;
                height: 55px;

                svg {
                  height: 22px;
                  width: auto;
                }
              }
            }

            .listTxt {
              flex: 0 0 calc(100% - 65px);

              h6 {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 5px;
              }

              p {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }
          }
        }

        .customForm {
          h3 {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .customPriceSection {
    border-radius: 50px 50px 0px 0px;

    h2 {
      span {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .customPriceBox {
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 15px 10px;
      border-radius: 25px;

      .customBoxbg {
        border-radius: 25px;
        padding: 30px;
        height: auto;

        .customHeader {
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 25px;
          padding-bottom: 25px;

          .customTitle {
            flex: 0 0 70%;

            h5 {
              font-size: 22px;
              line-height: 26px;
              margin-bottom: 5px;
            }

            p {
              font-size: 13px;
              line-height: 18px;
            }
          }

          .customPrice {
            flex: 0 0 30%;
            flex-wrap: wrap;

            .startAt {
              width: 140px;
              height: 40px;
              font-size: 15px;
              margin-bottom: 10px;
            }

            .Price {
              font-size: 40px;
              line-height: 40px;
            }
          }
        }

        .customMainBtn {
          width: 100%;
          height: 45px;
          font-size: 15px;
          margin-bottom: 10px;
        }

        .listPrice {
          margin-top: 30px;

          .listItem {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;

            .listIcon {
              flex: 0 0 65px;

              .listIconSvg {
                width: 55px;
                height: 55px;

                svg {
                  height: 22px;
                  width: auto;
                }
              }
            }

            .listTxt {
              flex: 0 0 calc(100% - 65px);

              h6 {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 5px;
              }

              p {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }
          }
        }

        .customForm {
          margin: auto;
          max-width: 65%;

          h3 {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .customPriceSection {
    border-radius: 40px 40px 0px 0px;

    h2 {
      span {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .customPriceBox {
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 15px 10px;
      border-radius: 25px;

      .customBoxbg {
        border-radius: 25px;
        padding: 30px;
        height: auto;

        .customHeader {
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 25px;
          padding-bottom: 25px;

          .customTitle {
            flex: 0 0 70%;

            h5 {
              font-size: 22px;
              line-height: 26px;
              margin-bottom: 5px;
            }

            p {
              font-size: 13px;
              line-height: 18px;
            }
          }

          .customPrice {
            flex: 0 0 30%;
            flex-wrap: wrap;

            .startAt {
              width: 140px;
              height: 40px;
              font-size: 15px;
              margin-bottom: 10px;
            }

            .Price {
              font-size: 40px;
              line-height: 40px;
            }
          }
        }

        .customMainBtn {
          width: 100%;
          height: 45px;
          font-size: 15px;
          margin-bottom: 10px;
        }

        .listPrice {
          margin-top: 30px;

          .listItem {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;

            .listIcon {
              flex: 0 0 65px;

              .listIconSvg {
                width: 55px;
                height: 55px;

                svg {
                  height: 22px;
                  width: auto;
                }
              }
            }

            .listTxt {
              flex: 0 0 calc(100% - 65px);

              h6 {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 5px;
              }

              p {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }
          }
        }

        .customForm {
          margin: auto;
          max-width: 80%;

          h3 {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .customPriceSection {
    border-radius: 40px 40px 0px 0px;

    h2 {
      span {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .customPriceBox {
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 0px;
      border-radius: 25px;
      border: 0px;

      .customBoxbg {
        border-radius: 25px;
        padding: 20px;
        height: auto;

        .customHeader {
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 15px;
          padding-bottom: 15px;
          flex-wrap: wrap;

          .customTitle {
            flex: 0 0 100%;
            margin-bottom: 30px;

            h5 {
              font-size: 22px;
              line-height: 26px;
              margin-bottom: 5px;
            }

            p {
              font-size: 13px;
              line-height: 18px;
              margin-bottom: 0px;
            }
          }

          .customPrice {
            flex: 0 0 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            .startAt {
              width: 120px;
              height: 40px;
              font-size: 14px;
              margin-bottom: 10px;
            }

            .Price {
              font-size: 35px;
              line-height: 30px;
            }
          }
        }

        .customMainBtn {
          width: 100%;
          height: 45px;
          font-size: 15px;
          margin-bottom: 10px;
        }

        .listPrice {
          margin-top: 30px;

          .listItem {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;

            .listIcon {
              flex: 0 0 65px;

              .listIconSvg {
                width: 55px;
                height: 55px;

                svg {
                  height: 22px;
                  width: auto;
                }
              }
            }

            .listTxt {
              flex: 0 0 calc(100% - 65px);

              h6 {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 5px;
              }

              p {
                font-size: 13px;
                line-height: 20px;
                margin-bottom: 0px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
              padding-bottom: 0px;
              border-bottom: 0px;
            }
          }
        }

        .customForm {
          margin: auto;
          max-width: 100%;

          h3 {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 10px;
          }

          p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
