.bannerLpSection {
    position: relative;
    border-radius: 0px 0px 100px 100px;
    overflow: hidden;
    z-index: 0;
    height: 100vh;

    .bannerContentSec {
        max-width: 95%;

        .colorBlack {
            color: #000;
        }

        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 90px;
            letter-spacing: -0.241964px;
            color: #7635FF;

        }

        P {

            margin: 0px 0px 20px;
            color: #3F3F3F;
        }

        .numberStyle {
            margin-top: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;


            .numberItem {
                width: 185px;
                height: 103px;
                background: rgba(82, 0, 255, 0.1);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 10px 25px;

                .points {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 30px;
                    letter-spacing: -0.2px;
                    color: #7635FF;

                    span {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: -0.0989256px;
                        color: #7635FF;
                        display: block;
                    }
                }

            }
        }

        .btnFlex {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;


            div,
            a {
                height: 65px;
                border-radius: 100px;
                padding: 0px 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: -0.165px;
                cursor: pointer;
                transition: background 0.3s ease, transform 0.3s ease;


                &.btnStyle {
                    background: linear-gradient(9.84deg, #FFFFFF -12.54%, #9AFF35 103.72%);
                    color: #000000;

                    &:hover {
                        background: linear-gradient(9.84deg, #9AFF35 -12.54%, #FFFFFF 103.72%);
                        transform: scale(1.01);
                        transition: background 0.3s ease, transform 0.3s ease;
                    }
                }

                &.chatStyle {
                    background: #000;
                    color: #fff;

                    &:hover {
                        background: linear-gradient(9.84deg, rgb(0, 0, 0, .8) -12.54%, rgb(0, 0, 0, .9) 103.72%);
                        transform: scale(1.01);
                        transition: background 0.3s ease, transform 0.3s ease;
                        color: #fff;
                    }
                }
            }
        }

        .banenrLogo {
            margin-top: 40px;
        }
    }

}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .bannerLpSection {
        border-radius: 0px 0px 80px 80px;
        height: 700px;
        padding-top: 90px;

        .bannerContentSec {
            max-width: 95%;

            .colorBlack {
                font-size: 17px;
            }

            h1 {
                font-size: 70px;
                line-height: 75px;
            }

            P {
                margin: 0px 0px 20px;
            }

            .numberStyle {
                margin-top: 20px;
                gap: 15px;


                .numberItem {
                    width: 185px;
                    height: 103px;
                    padding: 10px 25px;

                    .points {
                        font-size: 25px;
                        line-height: 30px;

                        span {
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }

                }
            }

            .btnFlex {
                gap: 10px;

                div,
                a {
                    height: 60px;
                    border-radius: 100px;
                    padding: 0px 25px;
                    font-size: 15px;
                    line-height: 15px;
                }
            }

            .banenrLogo {
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .bannerLpSection {
        border-radius: 0px 0px 80px 80px;
        height: 700px;
        padding-top: 90px;

        .bannerContentSec {
            max-width: 95%;

            .colorBlack {
                font-size: 17px;
            }

            h1 {
                font-size: 65px;
                line-height: 70px;
                margin-bottom: 10px;
            }

            P {
                margin: 0px 0px 20px;
            }

            .numberStyle {
                margin-top: 20px;
                gap: 15px;


                .numberItem {
                    width: 185px;
                    height: 103px;
                    padding: 10px 25px;

                    .points {
                        font-size: 22px;
                        line-height: 30px;

                        span {
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }

                }
            }

            .btnFlex {
                gap: 10px;

                div,
                a {
                    height: 60px;
                    border-radius: 100px;
                    padding: 0px 25px;
                    font-size: 15px;
                    line-height: 15px;
                }
            }

            .banenrLogo {
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .bannerLpSection {
        border-radius: 0px 0px 80px 80px;
        height: 700px;
        padding-top: 70px;

        .bannerContentSec {
            max-width: 95%;

            .colorBlack {
                font-size: 15px;
            }

            h1 {
                font-size: 55px;
                line-height: 60px;
                margin-bottom: 10px;
            }

            P {
                margin: 0px 0px 20px;
            }

            .numberStyle {
                margin-top: 20px;
                gap: 10px;


                .numberItem {
                    width: 185px;
                    height: 103px;
                    padding: 10px 20px;

                    .points {
                        font-size: 20px;
                        line-height: 30px;

                        span {
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }

                }
            }

            .btnFlex {
                gap: 10px;

                div,
                a {
                    height: 55px;
                    padding: 0px 20px;
                    font-size: 14px;
                    line-height: 14px;
                }
            }

            .banenrLogo {
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .bannerLpSection {
        border-radius: 0px 0px 80px 80px;
        height: 700px;
        padding-top: 70px;

        .bannerContentSec {
            max-width: 95%;

            .colorBlack {
                font-size: 15px;
            }

            h1 {
                font-size: 55px;
                line-height: 60px;
                margin-bottom: 10px;
            }

            P {
                margin: 0px 0px 20px;
            }

            .numberStyle {
                margin-top: 20px;
                gap: 10px;


                .numberItem {
                    width: 185px;
                    height: 80px;
                    padding: 10px 20px;

                    .points {
                        font-size: 18px;
                        line-height: 26px;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                }
            }

            .btnFlex {
                gap: 10px;

                div,
                a {
                    height: 50px;
                    padding: 0px 20px;
                    font-size: 13px;
                    line-height: 13px;
                }
            }

            .banenrLogo {
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .bannerLpSection {
        border-radius: 0px 0px 80px 80px;
        height: auto;
        padding-top: 120px;

        .bannerContentSec {
            max-width: 95%;

            .colorBlack {
                font-size: 15px;
            }

            h1 {
                font-size: 50px;
                line-height: 55px;
                margin-bottom: 10px;
            }

            P {
                margin: 0px 0px 20px;
            }

            .numberStyle {
                margin-top: 20px;
                gap: 10px;


                .numberItem {
                    width: 185px;
                    height: 80px;
                    padding: 10px 20px;

                    .points {
                        font-size: 18px;
                        line-height: 26px;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                }
            }

            .btnFlex {
                gap: 10px;

                div,
                a {
                    height: 50px;
                    padding: 0px 20px;
                    font-size: 13px;
                    line-height: 13px;
                }
            }

            .banenrLogo {
                margin-top: 20px;

                img {
                    height: 20px;
                    width: auto;
                }
            }
        }

        .bannerImage {
            margin: auto;
            text-align: center;
            margin-top: 20px;

            img {
                height: 300px;
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .bannerLpSection {
        border-radius: 0px 0px 80px 80px;
        height: auto;
        padding-top: 120px;

        .bannerContentSec {
            max-width: 95%;

            .colorBlack {
                font-size: 15px;
            }

            h1 {
                font-size: 50px;
                line-height: 55px;
                margin-bottom: 10px;
            }

            P {
                margin: 0px 0px 20px;
            }

            .numberStyle {
                margin-top: 20px;
                gap: 10px;


                .numberItem {
                    width: 185px;
                    height: 80px;
                    padding: 10px 20px;

                    .points {
                        font-size: 18px;
                        line-height: 26px;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                }
            }

            .btnFlex {
                gap: 10px;

                div,
                a {
                    height: 50px;
                    padding: 0px 20px;
                    font-size: 13px;
                    line-height: 13px;
                }
            }

            .banenrLogo {
                margin-top: 20px;

                img {
                    height: 20px;
                    width: auto;
                }
            }
        }

        .bannerImage {
            margin: auto;
            text-align: center;
            margin-top: 20px;

            img {
                height: 300px;
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .bannerLpSection {
        border-radius: 0px 0px 80px 80px;
        height: auto;
        padding-top: 90px;

        .bannerContentSec {
            max-width: 95%;

            .colorBlack {
                font-size: 15px;
            }

            h1 {
                font-size: 50px;
                line-height: 55px;
                margin-bottom: 10px;
            }

            P {
                margin: 0px 0px 20px;
            }

            .numberStyle {
                margin-top: 20px;
                gap: 10px;
                flex-wrap: wrap;


                .numberItem {
                    width: 100%;
                    height: 80px;
                    padding: 10px 20px;

                    .points {
                        font-size: 18px;
                        line-height: 26px;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                }
            }

            .btnFlex {
                gap: 5px;

                div,
                a {
                    height: 50px;
                    padding: 0px 15px;
                    font-size: 13px;
                    line-height: 13px;
                }
            }

            .banenrLogo {
                margin-top: 20px;

                img {
                    height: auto;
                    width: auto;
                }
            }
        }

        .bannerImage {
            margin: auto;
            text-align: center;
            margin-top: 20px;

            img {
                height: 300px;
                width: auto;
            }
        }
    }
}