.contactSection {
    padding: 100px 0px 200px;
    background: #EEF6FD;
    border-radius: 100px 100px 0px 0px;
    margin-top: -90px;

    .formContainer {
        background: #FFFFFF;
        border-radius: 32px;
        padding: 50px;


        h4 {
            color: #000;
            text-align: center;
        }
    }
}