.seoGlossarySection {
  padding-top: 180px;
  .glossaryBox {
    border-radius: 28px;
    margin-bottom: 50px;

    .glossaryTxt {
      max-width: 60%;
      margin: auto;
    }
  }
  h1 {
    color: #7635ff;
  }
}
