.singlePost {
  padding-top: 180px;
  h1 {
    color: #7635ff;
    text-align: center;
    margin-bottom: 30px;
  }
  .bannerImg {
    margin-bottom: 30px;
    img {
      object-fit: cover;
      border-radius: 28px;
    }
  }
  .picPara {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.165px;
    color: #6c757d;
  }
  .mainSection {
    h2 {
      margin-bottom: 30px;
    }
    h3 {
      margin-bottom: 30px;
      font-size: 28px;
      font-weight: 600;
    }
    h4 {
      margin-bottom: 10px;
      color: #000;
      font-size: 28px;
      font-weight: 600;
    }
    p {
      color: #333;
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 30px;
      padding-left: 12px;
      li {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.165px;
        color: #333;
        margin-bottom: 10px;
        position: relative;
        padding-left: 25px;
        &:before {
          content: "";
          background: #333;
          width: 10px;
          height: 10px;
          position: absolute;
          border-radius: 100%;
          left: 0px;
          top: 10px;
        }
      }
    }
    ol {
      margin-bottom: 30px;
      li {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.165px;
        color: #333;
        margin-bottom: 10px;
        position: relative;
        padding-left: 15px;
      }
    }
    a {
      color: #7635ff;
    }
    table {
      margin: 20px 0px;
      font-size: 20px;
    }
  }
}
.singleBlog {
  padding-top: 180px;
  h1 {
    color: #000;
    text-align: center;
    margin: 0px auto 50px;
    max-width: 75%;
  }
  h2 {
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
  }
  h4 {
    margin-bottom: 10px;
    color: #000;
    font-size: 28px;
    font-weight: 600;
  }
  .flexCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    div {
      height: 60px;
      min-width: 220px;
      background: linear-gradient(9.84deg, #ffffff -12.54%, #9aff35 103.72%);
      border-radius: 100px;
      font-style: normal;
      font-weight: 500;
      font-size: 17.4797px;
      line-height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -0.144207px;
      color: #000000;
      &:last-child {
        background: #000;
        color: #fff;
      }
    }
  }
  .mainSection {
    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 10px;
    }
    h4 {
      color: #000;
    }
    p {
      color: #333;
      margin-bottom: 15px;
    }
    ul {
      margin-bottom: 20px;
      padding-left: 12px;
      li {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.165px;
        color: #333;
        margin-bottom: 10px;
        position: relative;
        padding-left: 25px;
        &:before {
          content: "";
          background: #333;
          width: 10px;
          height: 10px;
          position: absolute;
          border-radius: 100%;
          left: 0px;
          top: 10px;
        }
      }
    }
    ol {
      margin-bottom: 30px;
      li {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.165px;
        color: #333;
        margin-bottom: 10px;
        position: relative;
        padding-left: 15px;
      }
    }
    a {
      color: #7635ff;
    }
    table {
      margin: 20px 0px;
      font-size: 20px;
    }
  }
  .blogsideBar {
    position: sticky;
    top: 100px;
    margin-bottom: 20px;
  }
  .authorBox {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px;
    .authorIMG {
      margin-right: 20px;
      position: relative;
      flex: 0 0 80px;
      height: 80px;
      img {
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .authorContent {
      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.238982px;
        color: #000;
        margin-bottom: 10px;
      }
      ul.authorList {
        display: flex;
        gap: 10px;
        margin-bottom: 0px;
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.165px;
          color: #000;
          border-right: 2px solid rgba(0, 0, 0, 0.8);
          padding-right: 10px;
          text-transform: capitalize;
          &:last-child {
            border: none;
            a {
              color: #000;
              &:hover {
                text-decoration: underline;
                color: #7635ff;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .singlePost {
    padding-top: 160px;
    .bannerImg {
      margin-bottom: 30px;
    }
    .picPara {
      margin-bottom: 25px;
      font-size: 17px;
      line-height: 27px;
    }
    .mainSection {
      h2 {
        margin-bottom: 25px;
      }
      h3 {
        margin-bottom: 20px;
        line-height: 32px;
        font-size: 24px;
      }
      h4 {
        line-height: 32px;
        font-size: 24px;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 30px;
        padding-left: 12px;
        li {
          font-size: 17px;
          line-height: 27px;
          padding-left: 22px;
        }
      }
      ol {
        margin-bottom: 30px;
        li {
          font-size: 17px;
          line-height: 27px;
          padding-left: 15px;
        }
      }

      table {
        font-size: 17px;
      }
    }
  }
  .singleBlog {
    padding-top: 160px;
    h1 {
      margin: 0px auto 40px;
    }
    h3 {
      margin-bottom: 20px;
      line-height: 32px;
      font-size: 24px;
    }
    h4 {
      line-height: 32px;
      font-size: 24px;
    }
    .flexCategory {
      gap: 15px;
      margin-bottom: 35px;
      div {
        height: 60px;
        min-width: 220px;
        font-size: 17px;
      }
    }
    .mainSection {
      ul {
        margin-bottom: 20px;
        padding-left: 12px;
        li {
          font-size: 17px;
          line-height: 27px;
        }
      }
      ol {
        margin-bottom: 30px;
        li {
          font-size: 17px;
          line-height: 27px;
        }
      }

      table {
        margin: 20px 0px;
        font-size: 17px;
      }
    }
    .blogsideBar {
      top: 30px;
    }
    .authorBox {
      .authorIMG {
        margin-right: 20px;
        flex: 0 0 80px;
        height: 80px;
      }
      .authorContent {
        h4 {
          font-size: 22px;
          line-height: 22px;
        }
        ul.authorList {
          gap: 10px;
          li {
            gap: 10px;
            font-size: 16px;
            line-height: 20px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .singlePost {
    padding-top: 150px;
    .bannerImg {
      margin-bottom: 30px;
    }
    .picPara {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 26px;
    }
    .mainSection {
      h2 {
        margin-bottom: 25px;
      }
      h3 {
        margin-bottom: 20px;
        line-height: 28px;
        font-size: 22px;
      }
      h4 {
        line-height: 28px;
        font-size: 22px;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 30px;
        padding-left: 12px;
        li {
          font-size: 16px;
          line-height: 26px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 30px;
        li {
          font-size: 16px;
          line-height: 26px;
          padding-left: 10px;
        }
      }

      table {
        font-size: 16px;
      }
    }
  }
  .singleBlog {
    padding-top: 150px;
    h1 {
      margin: 0px auto 30px;
    }
    h3 {
      margin-bottom: 20px;
      line-height: 28px;
      font-size: 22px;
    }
    h4 {
      line-height: 28px;
      font-size: 22px;
    }
    .flexCategory {
      gap: 15px;
      margin-bottom: 30px;
      div {
        height: 55px;
        min-width: 220px;
        font-size: 16px;
      }
    }
    .mainSection {
      ul {
        margin-bottom: 20px;
        padding-left: 12px;
        li {
          font-size: 16px;
          line-height: 26px;
        }
      }
      ol {
        margin-bottom: 30px;
        li {
          font-size: 16px;
          line-height: 26px;
        }
      }

      table {
        margin: 20px 0px;
        font-size: 16px;
      }
    }
    .blogsideBar {
      top: 30px;
    }
    .authorBox {
      .authorIMG {
        margin-right: 15px;
        flex: 0 0 70px;
        height: 70px;
      }
      .authorContent {
        h4 {
          font-size: 20px;
          line-height: 20px;
        }
        ul.authorList {
          gap: 10px;
          li {
            gap: 10px;
            font-size: 15px;
            line-height: 20px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .singlePost {
    padding-top: 120px;
    .bannerImg {
      margin-bottom: 30px;
    }
    .picPara {
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 25px;
    }
    .mainSection {
      h2 {
        margin-bottom: 25px;
      }
      h4 {
        line-height: 24px;
        font-size: 20px;
      }
      h3 {
        margin-bottom: 20px;
        line-height: 24px;
        font-size: 20px;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 30px;
        padding-left: 12px;
        li {
          font-size: 15px;
          line-height: 25px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 30px;
        li {
          font-size: 15px;
          line-height: 25px;
          padding-left: 10px;
        }
      }

      table {
        font-size: 15px;
      }
    }
  }
  .singleBlog {
    padding-top: 120px;
    h1 {
      margin-bottom: 30px;
    }
    h4 {
      line-height: 24px;
      font-size: 20px;
    }
    h3 {
      margin-bottom: 20px;
      line-height: 24px;
      font-size: 20px;
    }
    .flexCategory {
      gap: 15px;
      margin-bottom: 30px;
      div {
        height: 50px;
        min-width: 180px;
        font-size: 15px;
      }
    }
    .mainSection {
      ul {
        margin-bottom: 20px;
        padding-left: 12px;
        li {
          font-size: 15px;
          line-height: 25px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 30px;
        padding-left: 10px;
        li {
          font-size: 15px;
          line-height: 25px;
        }
      }

      table {
        margin: 20px 0px;
        font-size: 15px;
      }
    }
    .blogsideBar {
      top: 10px;
    }
    .authorBox {
      .authorIMG {
        margin-right: 15px;
        flex: 0 0 70px;
        height: 70px;
      }
      .authorContent {
        h4 {
          font-size: 18px;
          line-height: 18px;
        }
        ul.authorList {
          gap: 10px;
          li {
            gap: 10px;
            font-size: 14px;
            line-height: 20px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .singlePost {
    padding-top: 120px;
    .bannerImg {
      margin-bottom: 30px;
    }
    .picPara {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 23px;
    }
    .mainSection {
      h2 {
        margin-bottom: 25px;
      }
      h3 {
        margin-bottom: 20px;
        line-height: 24px;
        font-size: 20px;
      }
      h4 {
        line-height: 24px;
        font-size: 20px;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 30px;
        padding-left: 12px;
        li {
          font-size: 14px;
          line-height: 23px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 30px;
        li {
          font-size: 14px;
          line-height: 23px;
          padding-left: 10px;
        }
      }

      table {
        font-size: 14px;
      }
    }
  }
  .singleBlog {
    padding-top: 120px;
    h1 {
      margin-bottom: 30px;
    }
    h3 {
      margin-bottom: 20px;
      line-height: 24px;
      font-size: 20px;
    }
    h4 {
      line-height: 24px;
      font-size: 20px;
    }
    .flexCategory {
      gap: 15px;
      margin-bottom: 30px;
      div {
        height: 50px;
        min-width: 180px;
        font-size: 15px;
      }
    }
    .mainSection {
      ul {
        margin-bottom: 20px;
        padding-left: 12px;
        li {
          font-size: 14px;
          line-height: 23px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 30px;
        padding-left: 10px;
        li {
          font-size: 14px;
          line-height: 23px;
        }
      }

      table {
        margin: 20px 0px;
        font-size: 14px;
      }
    }
    .blogsideBar {
      top: 10px;
    }
    .authorBox {
      .authorIMG {
        margin-right: 10px;
        flex: 0 0 70px;
        height: 70px;
      }
      .authorContent {
        h4 {
          font-size: 18px;
          line-height: 18px;
        }
        ul.authorList {
          gap: 8px;
          li {
            gap: 10px;
            font-size: 13px;
            line-height: 20px;
            padding-right: 8px;
            border-right: 1.5px solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .singlePost {
    padding-top: 120px;
    .bannerImg {
      margin-bottom: 30px;
    }
    .picPara {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 22px;
    }
    .mainSection {
      h2 {
        margin-bottom: 25px;
      }
      h3 {
        margin-bottom: 20px;
        line-height: 24px;
        font-size: 18px;
      }
      h4 {
        line-height: 24px;
        font-size: 18px;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 15px;
        padding-left: 12px;
        li {
          font-size: 13px;
          line-height: 22px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 15px;
        li {
          font-size: 13px;
          line-height: 22px;
          padding-left: 10px;
        }
      }

      table {
        font-size: 13px;
      }
    }
  }
  .singleBlog {
    padding-top: 120px;
    h1 {
      margin-bottom: 30px;
      max-width: 80%;
    }
    h3 {
      margin-bottom: 20px;
      line-height: 24px;
      font-size: 18px;
    }
    h4 {
      line-height: 24px;
      font-size: 18px;
    }
    .flexCategory {
      gap: 15px;
      margin-bottom: 30px;
      div {
        height: 45px;
        min-width: 180px;
        font-size: 14px;
      }
    }
    .mainSection {
      ul {
        margin-bottom: 15px;
        padding-left: 12px;
        li {
          font-size: 13px;
          line-height: 22px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 15px;
        padding-left: 10px;
        li {
          font-size: 13px;
          line-height: 22px;
        }
      }

      table {
        margin: 20px 0px;
        font-size: 14px;
      }
    }
    .blogsideBar {
      top: 15px;
    }
    .authorBox {
      .authorIMG {
        margin-right: 10px;
        flex: 0 0 70px;
        height: 70px;
      }
      .authorContent {
        h4 {
          font-size: 18px;
          line-height: 18px;
        }
        ul.authorList {
          gap: 8px;
          li {
            gap: 10px;
            font-size: 13px;
            line-height: 20px;
            padding-right: 8px;
            border-right: 1.5px solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .singlePost {
    padding-top: 120px;
    .bannerImg {
      margin-bottom: 30px;
    }
    .picPara {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 22px;
    }
    .mainSection {
      h2 {
        margin-bottom: 25px;
      }
      h4 {
        line-height: 26px;
        font-size: 20px;
      }
      h3 {
        margin-bottom: 20px;
        line-height: 26px;
        font-size: 20px;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 15px;
        padding-left: 12px;
        li {
          font-size: 13px;
          line-height: 22px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 15px;
        li {
          font-size: 13px;
          line-height: 22px;
          padding-left: 10px;
        }
      }

      table {
        font-size: 14px;
      }
    }
  }
  .singleBlog {
    padding-top: 120px;
    h1 {
      margin-bottom: 30px;
      max-width: 100%;
    }
    h4 {
      line-height: 26px;
      font-size: 20px;
    }
    h3 {
      margin-bottom: 20px;
      line-height: 26px;
      font-size: 20px;
    }
    .flexCategory {
      gap: 15px;
      margin-bottom: 30px;
      div {
        height: 45px;
        min-width: 180px;
        font-size: 14px;
      }
    }
    .mainSection {
      ul {
        margin-bottom: 15px;
        padding-left: 12px;
        li {
          font-size: 13px;
          line-height: 22px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 15px;
        padding-left: 10px;
        li {
          font-size: 13px;
          line-height: 22px;
        }
      }

      table {
        margin: 20px 0px;
        font-size: 14px;
      }
    }
    .blogsideBar {
      top: 75px;
    }
    .authorBox {
      .authorIMG {
        margin-right: 10px;
        flex: 0 0 70px;
        height: 70px;
      }
      .authorContent {
        h4 {
          font-size: 18px;
          line-height: 18px;
        }
        ul.authorList {
          gap: 8px;
          li {
            gap: 10px;
            font-size: 13px;
            line-height: 20px;
            padding-right: 8px;
            border-right: 1.5px solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .singlePost {
    padding-top: 120px;
    .bannerImg {
      margin-bottom: 20px;
    }
    .picPara {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 23px;
    }
    .mainSection {
      h2 {
        margin-bottom: 25px;
      }
      h4 {
        line-height: 22px;
        font-size: 18px;
      }
      h3 {
        margin-bottom: 20px;
        line-height: 22px;
        font-size: 18px;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 30px;
        padding-left: 12px;
        li {
          font-size: 14px;
          line-height: 23px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 30px;
        li {
          font-size: 14px;
          line-height: 23px;
          padding-left: 10px;
        }
      }

      table {
        font-size: 14px;
      }
    }
  }
  .singleBlog {
    padding-top: 120px;
    h1 {
      margin-bottom: 30px;
      max-width: 100%;
    }
    h4 {
      line-height: 22px;
      font-size: 18px;
    }
    h3 {
      margin-bottom: 20px;
      line-height: 22px;
      font-size: 18px;
    }
    .flexCategory {
      gap: 15px;
      margin-bottom: 30px;
      div {
        height: 45px;
        min-width: 180px;
        font-size: 14px;
      }
    }
    .mainSection {
      ul {
        margin-bottom: 15px;
        padding-left: 12px;
        li {
          font-size: 14px;
          line-height: 23px;
          padding-left: 20px;
          &:before {
            width: 8px;
            height: 8px;
            left: 0px;
            top: 8px;
          }
        }
      }
      ol {
        margin-bottom: 15px;
        padding-left: 10px;
        li {
          font-size: 14px;
          line-height: 23px;
        }
      }

      table {
        margin: 20px 0px;
        font-size: 14px;
      }
    }
    .blogsideBar {
      top: 75px;
    }
    .authorBox {
      flex-wrap: wrap;
      .authorIMG {
        margin-right: 10px;
        flex: 0 0 90px;
        height: 90px;
        margin-bottom: 10px;
      }
      .authorContent {
        flex: 0 0 100%;
        h4 {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 5px;
        }
        ul.authorList {
          gap: 10px;
          li {
            flex: 0 0 auto;
            gap: 0px;
            font-size: 13px;
            line-height: 20px;
            padding-right: 10px;
            border-right: 1px solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}
